# Introduction
One of the greatest challenges for GGC students pursuing an IT degree is linking the classes offered by GGC to potential jobs. Because of this, upcoming graduates may not know what jobs to apply for according to their own skillset. To remedy this, Grizzly Insights will connect the coursework of each class to different job requirements over all the IT concentrations.

</br>**Goals**</br>
The goal of Grizzly Insights is to create a website that students can see which it skills is requred for different entry level jobs; students should also see which classes correspond to the previously mentioned it skills.This would allow students to use this website as a guideline to decide which classes to are the most important for them to take.

</br>**Problem Statement**</br>
In order to give the best guideline for upcoming IT graduates, our team must collect recent data that lists job titles, salaries, and related it skills accross four different concentrations.

In [ ]:
#Placeholder for heading

# Data Collection
To keep the data relevant, our team requires data from the past year or so; the only way to get this type of data is to web scrape off of different job listing websites. 
<br>
**Webscraper** <br>
The webscaping method we used it the webscraping extension on google chrome:
<br>
https://chrome.google.com/webstore/detail/web-scraper-free-web-scra/jnhgnonknehpejjnehehllkliplmbmhn?hl=en 
<br>
For instructions on how to use this webscraper, our team followed this video: <br>
https://www.youtube.com/watch?v=aClnnoQK9G0
<br>
By following the previous video's instructions, our group scrapped data for the four concentrations across different job posting websites (simply hired and indeed), (which job website used for the different scrapes are in the name of the file ex: indeed_SofDev.csv)

In [ ]:
#Placeholder for heading

# Data Importing and Data Cleaning
(so far) we have 5 different datafiles for 4 different concentrations; each file are ordered differently and the skill columns are a mess <br>
The mess in the job files include: <br>
1.   The multiple skills for each job maks the job information duplicate for each skill
2.   The salary may not be formatted correctly
3.   There might be null values
<br>

In [ ]:
import pandas as pd

DMsHDF = pd.read_csv("Digital Media Job Data.csv")
ESsHDF = pd.read_csv("Enterprise Systems Job Data.csv")
SDsHDF = pd.read_csv("Software Development Job Data.csv")
SASsHDF = pd.read_csv("Systems and Security Job Data.csv")
DMsHDF

,job title,company name,location,salary,skills
0,Digital Media and Graphic Design Specialist,"Pennsylvania House of Representatives, Democra...","Harrisburg, PA","Estimated: $47,000 - $65,000 a year",PMP
1,Digital Media and Graphic Design Specialist,"Pennsylvania House of Representatives, Democra...","Harrisburg, PA","Estimated: $47,000 - $65,000 a year",Legislation
2,Digital Media and Graphic Design Specialist,"Pennsylvania House of Representatives, Democra...","Harrisburg, PA","Estimated: $47,000 - $65,000 a year",Assembly
3,Digital Media and Graphic Design Specialist,"Pennsylvania House of Representatives, Democra...","Harrisburg, PA","Estimated: $47,000 - $65,000 a year",Adobe Illustrator
4,Digital Media and Graphic Design Specialist,"Pennsylvania House of Representatives, Democra...","Harrisburg, PA","Estimated: $47,000 - $65,000 a year",Digital design
...,...,...,...,...,...
2918,Digital Media Specialist,"Spring Hills, LLC -",Remote,"Estimated: $53,000 - $71,000 a year",Microsoft Powerpoint
2919,Digital Media Specialist,"Spring Hills, LLC -",Remote,"Estimated: $53,000 - $71,000 a year",Adobe Photoshop
2920,Digital Media Specialist,"Spring Hills, LLC -",Remote,"Estimated: $53,000 - $71,000 a year",WordPress
2921,Digital Media Specialist,"Spring Hills, LLC -",Remote,"Estimated: $53,000 - $71,000 a year",Social media management
2922,Digital Media Specialist,"Spring Hills, LLC -",Remote,"Estimated: $53,000 - $71,000 a year",Bachelor's degree

**Dealing with duplicate information:**
To deal with the duplicates is simple; we make the job title and skills into Hierarchical Indexes

In [ ]:
def clean1(df):
    newDF = df.set_index(['job title', 'skills']).copy()
    #return newDF.stack()
    #newDF = new
    #return newDF.groupby(level='skills')
    return newDF

In [ ]:
DMsimplyHiredDF = clean1(DMsHDF).copy() #Digital media from simply hired
ESsimplyHiredDF = clean1(ESsHDF).copy() #Enterprise Systems from simply hired
SDsimplyHiredDF = clean1(SDsHDF).copy() #Software Development from simply hired
SASsimplyHiredDF = clean1(SASsHDF).copy() #Systems and Security from simply hired
#Testing each df:
DMsimplyHiredDF

                                                                                                          company name  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Pennsylvania House of Representatives, Democra...
                                            Legislation              Pennsylvania House of Representatives, Democra...
                                            Assembly                 Pennsylvania House of Representatives, Democra...
                                            Adobe Illustrator        Pennsylvania House of Representatives, Democra...
                                            Digital design           Pennsylvania House of Representatives, Democra...
...                                                                                                                ...
Digital Media Specialist                    Microsoft Powerpoint                                   Spring Hills, LLC -
                                            Adobe Photoshop                                        Spring Hills, LLC -
                                            WordPress                                              Spring Hills, LLC -
                                            Social media management                                Spring Hills, LLC -
                                            Bachelor's degree                                      Spring Hills, LLC -

                                                                           location  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Harrisburg, PA
                                            Legislation              Harrisburg, PA
                                            Assembly                 Harrisburg, PA
                                            Adobe Illustrator        Harrisburg, PA
                                            Digital design           Harrisburg, PA
...                                                                             ...
Digital Media Specialist                    Microsoft Powerpoint             Remote
                                            Adobe Photoshop                  Remote
                                            WordPress                        Remote
                                            Social media management          Remote
                                            Bachelor's degree                Remote

                                                                                                  salary
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Estimated: $47,000 - $65,000 a year
                                            Legislation              Estimated: $47,000 - $65,000 a year
                                            Assembly                 Estimated: $47,000 - $65,000 a year
                                            Adobe Illustrator        Estimated: $47,000 - $65,000 a year
                                            Digital design           Estimated: $47,000 - $65,000 a year
...                                                                                                  ...
Digital Media Specialist                    Microsoft Powerpoint     Estimated: $53,000 - $71,000 a year
                                            Adobe Photoshop          Estimated: $53,000 - $71,000 a year
                                            WordPress                Estimated: $53,000 - $71,000 a year
                                            Social media management  Estimated: $53,000 - $71,000 a year
                                            Bachelor's degree        Estimated: $53,000 - $71,000 a year

[2923 rows x 3 columns]

In [ ]:
ESsimplyHiredDF

                                                                                   company name  \
job title                         skills
Senior Financial Analyst          Accounting            San Mateo County Transit District - 3.9
                                  Power BI              San Mateo County Transit District - 3.9
                                  Microsoft Excel       San Mateo County Transit District - 3.9
                                  ERP systems           San Mateo County Transit District - 3.9
                                  Microsoft Powerpoint  San Mateo County Transit District - 3.9
...                                                                                         ...
Business System Analyst (Spanish) ERP systems                                  Odoo, Inc. - 4.4
                                  Communication skills                         Odoo, Inc. - 4.4
                                  SaaS                                         Odoo, Inc. - 4.4
                                  Bachelor's degree                            Odoo, Inc. - 4.4
Business Analyst                  SyteLine                                          Datix - 1.3

                                                                 location  \
job title                         skills
Senior Financial Analyst          Accounting               San Carlos, CA
                                  Power BI                 San Carlos, CA
                                  Microsoft Excel          San Carlos, CA
                                  ERP systems              San Carlos, CA
                                  Microsoft Powerpoint     San Carlos, CA
...                                                                   ...
Business System Analyst (Spanish) ERP systems           San Francisco, CA
                                  Communication skills  San Francisco, CA
                                  SaaS                  San Francisco, CA
                                  Bachelor's degree     San Francisco, CA
Business Analyst                  SyteLine                         Remote

                                                                                      salary
job title                         skills
Senior Financial Analyst          Accounting            Estimated: $97,000 - $140,000 a year
                                  Power BI              Estimated: $97,000 - $140,000 a year
                                  Microsoft Excel       Estimated: $97,000 - $140,000 a year
                                  ERP systems           Estimated: $97,000 - $140,000 a year
                                  Microsoft Powerpoint  Estimated: $97,000 - $140,000 a year
...                                                                                      ...
Business System Analyst (Spanish) ERP systems                       $70,000 - $95,000 a year
                                  Communication skills              $70,000 - $95,000 a year
                                  SaaS                              $70,000 - $95,000 a year
                                  Bachelor's degree                 $70,000 - $95,000 a year
Business Analyst                  SyteLine               Estimated: $70,000 - $92,000 a year

[2891 rows x 3 columns]

In [ ]:
SDsimplyHiredDF

                                                                                             company name  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating                        Idea Entity - 3.8
                                                 Construction estimating                Idea Entity - 3.8
                                                 Full-stack development                 Idea Entity - 3.8
                                                 Azure                                  Idea Entity - 3.8
                                                 IAT                                    Idea Entity - 3.8
...                                                                                                   ...
Software Developer                               Operating systems        MSC Industrial Supply Co. - 3.4
                                                 CSS                      MSC Industrial Supply Co. - 3.4
                                                 SQL                      MSC Industrial Supply Co. - 3.4
                                                 Swift                    MSC Industrial Supply Co. - 3.4
                                                 Driver's License         MSC Industrial Supply Co. - 3.4

                                                                                location  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating              Peoria, IL
                                                 Construction estimating      Peoria, IL
                                                 Full-stack development       Peoria, IL
                                                 Azure                        Peoria, IL
                                                 IAT                          Peoria, IL
...                                                                                  ...
Software Developer                               Operating systems        North Carolina
                                                 CSS                      North Carolina
                                                 SQL                      North Carolina
                                                 Swift                    North Carolina
                                                 Driver's License         North Carolina

                                                                                                        salary
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating          Estimated: $74,000 - $100,000 a year
                                                 Construction estimating  Estimated: $74,000 - $100,000 a year
                                                 Full-stack development   Estimated: $74,000 - $100,000 a year
                                                 Azure                    Estimated: $74,000 - $100,000 a year
                                                 IAT                      Estimated: $74,000 - $100,000 a year
...                                                                                                        ...
Software Developer                               Operating systems         Estimated: $74,000 - $94,000 a year
                                                 CSS                       Estimated: $74,000 - $94,000 a year
                                                 SQL                       Estimated: $74,000 - $94,000 a year
                                                 Swift                     Estimated: $74,000 - $94,000 a year
                                                 Driver's License          Estimated: $74,000 - $94,000 a year

[4719 rows x 3 columns]

In [ ]:
SASsimplyHiredDF

                                                                                       company name  \
job title                     skills
NaN                           NaN                                                               NaN
Senior Cybersecurity Engineer J2EE                                                       Visa - 3.9
                              NoSQL                                                      Visa - 3.9
                              Spring Boot                                                Visa - 3.9
                              DevOps                                                     Visa - 3.9
...                                                                                             ...
Security Analyst (Tier III)   Vulnerability management  By Light Professional IT Services LLC - 3.7
                              Azure                     By Light Professional IT Services LLC - 3.7
                              IDS                       By Light Professional IT Services LLC - 3.7
                              Bachelor of Science       By Light Professional IT Services LLC - 3.7
                              Bachelor's degree         By Light Professional IT Services LLC - 3.7

                                                          location  \
job title                     skills
NaN                           NaN                              NaN
Senior Cybersecurity Engineer J2EE                      Austin, TX
                              NoSQL                     Austin, TX
                              Spring Boot               Austin, TX
                              DevOps                    Austin, TX
...                                                            ...
Security Analyst (Tier III)   Vulnerability management      Remote
                              Azure                         Remote
                              IDS                           Remote
                              Bachelor of Science           Remote
                              Bachelor's degree             Remote

                                                                                       salary
job title                     skills
NaN                           NaN                                                         NaN
Senior Cybersecurity Engineer J2EE                      Estimated: $110,000 - $160,000 a year
                              NoSQL                     Estimated: $110,000 - $160,000 a year
                              Spring Boot               Estimated: $110,000 - $160,000 a year
                              DevOps                    Estimated: $110,000 - $160,000 a year
...                                                                                       ...
Security Analyst (Tier III)   Vulnerability management   Estimated: $91,000 - $130,000 a year
                              Azure                      Estimated: $91,000 - $130,000 a year
                              IDS                        Estimated: $91,000 - $130,000 a year
                              Bachelor of Science        Estimated: $91,000 - $130,000 a year
                              Bachelor's degree          Estimated: $91,000 - $130,000 a year

[4889 rows x 3 columns]

**Dealing with unformatted salary:** The salary is seperated into low vs high, so there should be two seperate columns for min_Salary and one for max_Salary

In [ ]:
def formatSalary(df):
    df['formatted salary'] = df['salary'].str.replace(',', '').copy()
    df['formatted salary'] = df['formatted salary'].str.replace('Estimated: ', '').copy()
    df['formatted salary'] = df['formatted salary'].str.replace(' a year', '').copy()
    df['formatted salary'] = df['formatted salary'].str.replace('$', '').copy()
    df['formatted salary'] = df['formatted salary'].str.replace(' an hour', '').copy()
    return df['formatted salary']

In [ ]:
def minMaxSalary(df):
    df['formatted salary'] = formatSalary(df).copy()
    salaryList = (df['formatted salary'].str.split('-',n = 1, expand = True)).copy()
    df = pd.concat([df, salaryList], axis=1).copy()
    df = df.rename(columns={0: 'Min Salary', 1: 'Max Salary'}).drop(['formatted salary'], axis = 1)
    return df

In [ ]:
DMsimplyHiredDF = minMaxSalary(DMsimplyHiredDF).copy()
ESsimplyHiredDF = minMaxSalary(ESsimplyHiredDF).copy()
SDsimplyHiredDF = minMaxSalary(SDsimplyHiredDF).copy()
SASsimplyHiredDF = minMaxSalary(SASsimplyHiredDF).copy()
DMsimplyHiredDF

<ipython-input-25-414c38c9c6e5>:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['formatted salary'] = df['formatted salary'].str.replace('$', '').copy()

                                                                                                          company name  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Pennsylvania House of Representatives, Democra...
                                            Legislation              Pennsylvania House of Representatives, Democra...
                                            Assembly                 Pennsylvania House of Representatives, Democra...
                                            Adobe Illustrator        Pennsylvania House of Representatives, Democra...
                                            Digital design           Pennsylvania House of Representatives, Democra...
...                                                                                                                ...
Digital Media Specialist                    Microsoft Powerpoint                                   Spring Hills, LLC -
                                            Adobe Photoshop                                        Spring Hills, LLC -
                                            WordPress                                              Spring Hills, LLC -
                                            Social media management                                Spring Hills, LLC -
                                            Bachelor's degree                                      Spring Hills, LLC -

                                                                           location  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Harrisburg, PA
                                            Legislation              Harrisburg, PA
                                            Assembly                 Harrisburg, PA
                                            Adobe Illustrator        Harrisburg, PA
                                            Digital design           Harrisburg, PA
...                                                                             ...
Digital Media Specialist                    Microsoft Powerpoint             Remote
                                            Adobe Photoshop                  Remote
                                            WordPress                        Remote
                                            Social media management          Remote
                                            Bachelor's degree                Remote

                                                                                                  salary  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Estimated: $47,000 - $65,000 a year
                                            Legislation              Estimated: $47,000 - $65,000 a year
                                            Assembly                 Estimated: $47,000 - $65,000 a year
                                            Adobe Illustrator        Estimated: $47,000 - $65,000 a year
                                            Digital design           Estimated: $47,000 - $65,000 a year
...                                                                                                  ...
Digital Media Specialist                    Microsoft Powerpoint     Estimated: $53,000 - $71,000 a year
                                            Adobe Photoshop          Estimated: $53,000 - $71,000 a year
                                            WordPress                Estimated: $53,000 - $71,000 a year
                                            Social media management  Estimated: $53,000 - $71,000 a year
                                            Bachelor's degree        Estimated: $53,000 - $71,000 a year

                                                                    Min Salary  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                         47000
                                            Legislation                 47000
                                            Assembly                    47000
                                            Adobe Illustrator           47000
                                            Digital design              47000
...                                                                        ...
Digital Media Specialist                    Microsoft Powerpoint        53000
                                            Adobe Photoshop             53000
                                            WordPress                   53000
                                            Social media management     53000
                                            Bachelor's degree           53000

                                                                    Max Salary
job title                                   skills
Digital Media and Graphic Design Specialist PMP                          65000
                                            Legislation                  65000
                                            Assembly                     65000
                                            Adobe Illustrator            65000
                                            Digital design               65000
...                                                                        ...
Digital Media Specialist                    Microsoft Powerpoint         71000
                                            Adobe Photoshop              71000
                                            WordPress                    71000
                                            Social media management      71000
                                            Bachelor's degree            71000

[2923 rows x 5 columns]

In [ ]:
ESsimplyHiredDF

                                                                                   company name  \
job title                         skills
Senior Financial Analyst          Accounting            San Mateo County Transit District - 3.9
                                  Power BI              San Mateo County Transit District - 3.9
                                  Microsoft Excel       San Mateo County Transit District - 3.9
                                  ERP systems           San Mateo County Transit District - 3.9
                                  Microsoft Powerpoint  San Mateo County Transit District - 3.9
...                                                                                         ...
Business System Analyst (Spanish) ERP systems                                  Odoo, Inc. - 4.4
                                  Communication skills                         Odoo, Inc. - 4.4
                                  SaaS                                         Odoo, Inc. - 4.4
                                  Bachelor's degree                            Odoo, Inc. - 4.4
Business Analyst                  SyteLine                                          Datix - 1.3

                                                                 location  \
job title                         skills
Senior Financial Analyst          Accounting               San Carlos, CA
                                  Power BI                 San Carlos, CA
                                  Microsoft Excel          San Carlos, CA
                                  ERP systems              San Carlos, CA
                                  Microsoft Powerpoint     San Carlos, CA
...                                                                   ...
Business System Analyst (Spanish) ERP systems           San Francisco, CA
                                  Communication skills  San Francisco, CA
                                  SaaS                  San Francisco, CA
                                  Bachelor's degree     San Francisco, CA
Business Analyst                  SyteLine                         Remote

                                                                                      salary  \
job title                         skills
Senior Financial Analyst          Accounting            Estimated: $97,000 - $140,000 a year
                                  Power BI              Estimated: $97,000 - $140,000 a year
                                  Microsoft Excel       Estimated: $97,000 - $140,000 a year
                                  ERP systems           Estimated: $97,000 - $140,000 a year
                                  Microsoft Powerpoint  Estimated: $97,000 - $140,000 a year
...                                                                                      ...
Business System Analyst (Spanish) ERP systems                       $70,000 - $95,000 a year
                                  Communication skills              $70,000 - $95,000 a year
                                  SaaS                              $70,000 - $95,000 a year
                                  Bachelor's degree                 $70,000 - $95,000 a year
Business Analyst                  SyteLine               Estimated: $70,000 - $92,000 a year

                                                       Min Salary Max Salary
job title                         skills
Senior Financial Analyst          Accounting               97000      140000
                                  Power BI                 97000      140000
                                  Microsoft Excel          97000      140000
                                  ERP systems              97000      140000
                                  Microsoft Powerpoint     97000      140000
...                                                           ...        ...
Business System Analyst (Spanish) ERP systems              70000       95000
                                  Communication skills     70000       95000
                                  SaaS                     70000       95000
                                  Bachelor's degree        70000       95000
Business Analyst                  SyteLine                 70000       92000

[2891 rows x 5 columns]

In [ ]:
SDsimplyHiredDF

                                                                                             company name  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating                        Idea Entity - 3.8
                                                 Construction estimating                Idea Entity - 3.8
                                                 Full-stack development                 Idea Entity - 3.8
                                                 Azure                                  Idea Entity - 3.8
                                                 IAT                                    Idea Entity - 3.8
...                                                                                                   ...
Software Developer                               Operating systems        MSC Industrial Supply Co. - 3.4
                                                 CSS                      MSC Industrial Supply Co. - 3.4
                                                 SQL                      MSC Industrial Supply Co. - 3.4
                                                 Swift                    MSC Industrial Supply Co. - 3.4
                                                 Driver's License         MSC Industrial Supply Co. - 3.4

                                                                                location  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating              Peoria, IL
                                                 Construction estimating      Peoria, IL
                                                 Full-stack development       Peoria, IL
                                                 Azure                        Peoria, IL
                                                 IAT                          Peoria, IL
...                                                                                  ...
Software Developer                               Operating systems        North Carolina
                                                 CSS                      North Carolina
                                                 SQL                      North Carolina
                                                 Swift                    North Carolina
                                                 Driver's License         North Carolina

                                                                                                        salary  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating          Estimated: $74,000 - $100,000 a year
                                                 Construction estimating  Estimated: $74,000 - $100,000 a year
                                                 Full-stack development   Estimated: $74,000 - $100,000 a year
                                                 Azure                    Estimated: $74,000 - $100,000 a year
                                                 IAT                      Estimated: $74,000 - $100,000 a year
...                                                                                                        ...
Software Developer                               Operating systems         Estimated: $74,000 - $94,000 a year
                                                 CSS                       Estimated: $74,000 - $94,000 a year
                                                 SQL                       Estimated: $74,000 - $94,000 a year
                                                 Swift                     Estimated: $74,000 - $94,000 a year
                                                 Driver's License          Estimated: $74,000 - $94,000 a year

                                                                         Min Salary  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating             74000
                                                 Construction estimating     74000
                                                 Full-stack development      74000
                                                 Azure                       74000
                                                 IAT                         74000
...                                                                             ...
Software Developer                               Operating systems           74000
                                                 CSS                         74000
                                                 SQL                         74000
                                                 Swift                       74000
                                                 Driver's License            74000

                                                                         Max Salary
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating             100000
                                                 Construction estimating     100000
                                                 Full-stack development      100000
                                                 Azure                       100000
                                                 IAT                         100000
...                                                                             ...
Software Developer                               Operating systems            94000
                                                 CSS                          94000
                                                 SQL                          94000
                                                 Swift                        94000
                                                 Driver's License             94000

[4719 rows x 5 columns]

In [ ]:
SASsimplyHiredDF

                                                                                       company name  \
job title                     skills
NaN                           NaN                                                               NaN
Senior Cybersecurity Engineer J2EE                                                       Visa - 3.9
                              NoSQL                                                      Visa - 3.9
                              Spring Boot                                                Visa - 3.9
                              DevOps                                                     Visa - 3.9
...                                                                                             ...
Security Analyst (Tier III)   Vulnerability management  By Light Professional IT Services LLC - 3.7
                              Azure                     By Light Professional IT Services LLC - 3.7
                              IDS                       By Light Professional IT Services LLC - 3.7
                              Bachelor of Science       By Light Professional IT Services LLC - 3.7
                              Bachelor's degree         By Light Professional IT Services LLC - 3.7

                                                          location  \
job title                     skills
NaN                           NaN                              NaN
Senior Cybersecurity Engineer J2EE                      Austin, TX
                              NoSQL                     Austin, TX
                              Spring Boot               Austin, TX
                              DevOps                    Austin, TX
...                                                            ...
Security Analyst (Tier III)   Vulnerability management      Remote
                              Azure                         Remote
                              IDS                           Remote
                              Bachelor of Science           Remote
                              Bachelor's degree             Remote

                                                                                       salary  \
job title                     skills
NaN                           NaN                                                         NaN
Senior Cybersecurity Engineer J2EE                      Estimated: $110,000 - $160,000 a year
                              NoSQL                     Estimated: $110,000 - $160,000 a year
                              Spring Boot               Estimated: $110,000 - $160,000 a year
                              DevOps                    Estimated: $110,000 - $160,000 a year
...                                                                                       ...
Security Analyst (Tier III)   Vulnerability management   Estimated: $91,000 - $130,000 a year
                              Azure                      Estimated: $91,000 - $130,000 a year
                              IDS                        Estimated: $91,000 - $130,000 a year
                              Bachelor of Science        Estimated: $91,000 - $130,000 a year
                              Bachelor's degree          Estimated: $91,000 - $130,000 a year

                                                       Min Salary Max Salary
job title                     skills
NaN                           NaN                             NaN        NaN
Senior Cybersecurity Engineer J2EE                        110000      160000
                              NoSQL                       110000      160000
                              Spring Boot                 110000      160000
                              DevOps                      110000      160000
...                                                           ...        ...
Security Analyst (Tier III)   Vulnerability management     91000      130000
                              Azure                        91000      130000
                              IDS                          91000      130000
                              Bachelor of Science          91000      130000
                              Bachelor's degree            91000      130000

[4889 rows x 5 columns]

**Dealing with null values:** Now we just drop the null values in all of the dataframes

In [ ]:
DMsimplyHiredDF = DMsimplyHiredDF.dropna()
ESsimplyHiredDF = ESsimplyHiredDF.dropna()
SDsimplyHiredDF = SDsimplyHiredDF.dropna()
SASsimplyHiredDF = SASsimplyHiredDF.dropna()

These are the cleaned data frames:

In [ ]:
DMsimplyHiredDF

                                                                                                          company name  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Pennsylvania House of Representatives, Democra...
                                            Legislation              Pennsylvania House of Representatives, Democra...
                                            Assembly                 Pennsylvania House of Representatives, Democra...
                                            Adobe Illustrator        Pennsylvania House of Representatives, Democra...
                                            Digital design           Pennsylvania House of Representatives, Democra...
...                                                                                                                ...
Digital Media Specialist                    Microsoft Powerpoint                                   Spring Hills, LLC -
                                            Adobe Photoshop                                        Spring Hills, LLC -
                                            WordPress                                              Spring Hills, LLC -
                                            Social media management                                Spring Hills, LLC -
                                            Bachelor's degree                                      Spring Hills, LLC -

                                                                           location  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Harrisburg, PA
                                            Legislation              Harrisburg, PA
                                            Assembly                 Harrisburg, PA
                                            Adobe Illustrator        Harrisburg, PA
                                            Digital design           Harrisburg, PA
...                                                                             ...
Digital Media Specialist                    Microsoft Powerpoint             Remote
                                            Adobe Photoshop                  Remote
                                            WordPress                        Remote
                                            Social media management          Remote
                                            Bachelor's degree                Remote

                                                                                                  salary  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                      Estimated: $47,000 - $65,000 a year
                                            Legislation              Estimated: $47,000 - $65,000 a year
                                            Assembly                 Estimated: $47,000 - $65,000 a year
                                            Adobe Illustrator        Estimated: $47,000 - $65,000 a year
                                            Digital design           Estimated: $47,000 - $65,000 a year
...                                                                                                  ...
Digital Media Specialist                    Microsoft Powerpoint     Estimated: $53,000 - $71,000 a year
                                            Adobe Photoshop          Estimated: $53,000 - $71,000 a year
                                            WordPress                Estimated: $53,000 - $71,000 a year
                                            Social media management  Estimated: $53,000 - $71,000 a year
                                            Bachelor's degree        Estimated: $53,000 - $71,000 a year

                                                                    Min Salary  \
job title                                   skills
Digital Media and Graphic Design Specialist PMP                         47000
                                            Legislation                 47000
                                            Assembly                    47000
                                            Adobe Illustrator           47000
                                            Digital design              47000
...                                                                        ...
Digital Media Specialist                    Microsoft Powerpoint        53000
                                            Adobe Photoshop             53000
                                            WordPress                   53000
                                            Social media management     53000
                                            Bachelor's degree           53000

                                                                    Max Salary
job title                                   skills
Digital Media and Graphic Design Specialist PMP                          65000
                                            Legislation                  65000
                                            Assembly                     65000
                                            Adobe Illustrator            65000
                                            Digital design               65000
...                                                                        ...
Digital Media Specialist                    Microsoft Powerpoint         71000
                                            Adobe Photoshop              71000
                                            WordPress                    71000
                                            Social media management      71000
                                            Bachelor's degree            71000

[2500 rows x 5 columns]

In [ ]:
ESsimplyHiredDF

                                                                                   company name  \
job title                         skills
Senior Financial Analyst          Accounting            San Mateo County Transit District - 3.9
                                  Power BI              San Mateo County Transit District - 3.9
                                  Microsoft Excel       San Mateo County Transit District - 3.9
                                  ERP systems           San Mateo County Transit District - 3.9
                                  Microsoft Powerpoint  San Mateo County Transit District - 3.9
...                                                                                         ...
Business System Analyst (Spanish) ERP systems                                  Odoo, Inc. - 4.4
                                  Communication skills                         Odoo, Inc. - 4.4
                                  SaaS                                         Odoo, Inc. - 4.4
                                  Bachelor's degree                            Odoo, Inc. - 4.4
Business Analyst                  SyteLine                                          Datix - 1.3

                                                                 location  \
job title                         skills
Senior Financial Analyst          Accounting               San Carlos, CA
                                  Power BI                 San Carlos, CA
                                  Microsoft Excel          San Carlos, CA
                                  ERP systems              San Carlos, CA
                                  Microsoft Powerpoint     San Carlos, CA
...                                                                   ...
Business System Analyst (Spanish) ERP systems           San Francisco, CA
                                  Communication skills  San Francisco, CA
                                  SaaS                  San Francisco, CA
                                  Bachelor's degree     San Francisco, CA
Business Analyst                  SyteLine                         Remote

                                                                                      salary  \
job title                         skills
Senior Financial Analyst          Accounting            Estimated: $97,000 - $140,000 a year
                                  Power BI              Estimated: $97,000 - $140,000 a year
                                  Microsoft Excel       Estimated: $97,000 - $140,000 a year
                                  ERP systems           Estimated: $97,000 - $140,000 a year
                                  Microsoft Powerpoint  Estimated: $97,000 - $140,000 a year
...                                                                                      ...
Business System Analyst (Spanish) ERP systems                       $70,000 - $95,000 a year
                                  Communication skills              $70,000 - $95,000 a year
                                  SaaS                              $70,000 - $95,000 a year
                                  Bachelor's degree                 $70,000 - $95,000 a year
Business Analyst                  SyteLine               Estimated: $70,000 - $92,000 a year

                                                       Min Salary Max Salary
job title                         skills
Senior Financial Analyst          Accounting               97000      140000
                                  Power BI                 97000      140000
                                  Microsoft Excel          97000      140000
                                  ERP systems              97000      140000
                                  Microsoft Powerpoint     97000      140000
...                                                           ...        ...
Business System Analyst (Spanish) ERP systems              70000       95000
                                  Communication skills     70000       95000
                                  SaaS                     70000       95000
                                  Bachelor's degree        70000       95000
Business Analyst                  SyteLine                 70000       92000

[2436 rows x 5 columns]

In [ ]:
SDsimplyHiredDF

                                                                                             company name  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating                        Idea Entity - 3.8
                                                 Construction estimating                Idea Entity - 3.8
                                                 Full-stack development                 Idea Entity - 3.8
                                                 Azure                                  Idea Entity - 3.8
                                                 IAT                                    Idea Entity - 3.8
...                                                                                                   ...
Software Developer                               Operating systems        MSC Industrial Supply Co. - 3.4
                                                 CSS                      MSC Industrial Supply Co. - 3.4
                                                 SQL                      MSC Industrial Supply Co. - 3.4
                                                 Swift                    MSC Industrial Supply Co. - 3.4
                                                 Driver's License         MSC Industrial Supply Co. - 3.4

                                                                                location  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating              Peoria, IL
                                                 Construction estimating      Peoria, IL
                                                 Full-stack development       Peoria, IL
                                                 Azure                        Peoria, IL
                                                 IAT                          Peoria, IL
...                                                                                  ...
Software Developer                               Operating systems        North Carolina
                                                 CSS                      North Carolina
                                                 SQL                      North Carolina
                                                 Swift                    North Carolina
                                                 Driver's License         North Carolina

                                                                                                        salary  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating          Estimated: $74,000 - $100,000 a year
                                                 Construction estimating  Estimated: $74,000 - $100,000 a year
                                                 Full-stack development   Estimated: $74,000 - $100,000 a year
                                                 Azure                    Estimated: $74,000 - $100,000 a year
                                                 IAT                      Estimated: $74,000 - $100,000 a year
...                                                                                                        ...
Software Developer                               Operating systems         Estimated: $74,000 - $94,000 a year
                                                 CSS                       Estimated: $74,000 - $94,000 a year
                                                 SQL                       Estimated: $74,000 - $94,000 a year
                                                 Swift                     Estimated: $74,000 - $94,000 a year
                                                 Driver's License          Estimated: $74,000 - $94,000 a year

                                                                         Min Salary  \
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating             74000
                                                 Construction estimating     74000
                                                 Full-stack development      74000
                                                 Azure                       74000
                                                 IAT                         74000
...                                                                             ...
Software Developer                               Operating systems           74000
                                                 CSS                         74000
                                                 SQL                         74000
                                                 Swift                       74000
                                                 Driver's License            74000

                                                                         Max Salary
job title                                        skills
Junior Azure Solutions Architect/DevOps Engineer Auto estimating             100000
                                                 Construction estimating     100000
                                                 Full-stack development      100000
                                                 Azure                       100000
                                                 IAT                         100000
...                                                                             ...
Software Developer                               Operating systems            94000
                                                 CSS                          94000
                                                 SQL                          94000
                                                 Swift                        94000
                                                 Driver's License             94000

[4026 rows x 5 columns]

In [ ]:
SASsimplyHiredDF

                                                                                       company name  \
job title                     skills
Senior Cybersecurity Engineer J2EE                                                       Visa - 3.9
                              NoSQL                                                      Visa - 3.9
                              Spring Boot                                                Visa - 3.9
                              DevOps                                                     Visa - 3.9
                              Leadership                                                 Visa - 3.9
...                                                                                             ...
Security Analyst (Tier III)   Vulnerability management  By Light Professional IT Services LLC - 3.7
                              Azure                     By Light Professional IT Services LLC - 3.7
                              IDS                       By Light Professional IT Services LLC - 3.7
                              Bachelor of Science       By Light Professional IT Services LLC - 3.7
                              Bachelor's degree         By Light Professional IT Services LLC - 3.7

                                                          location  \
job title                     skills
Senior Cybersecurity Engineer J2EE                      Austin, TX
                              NoSQL                     Austin, TX
                              Spring Boot               Austin, TX
                              DevOps                    Austin, TX
                              Leadership                Austin, TX
...                                                            ...
Security Analyst (Tier III)   Vulnerability management      Remote
                              Azure                         Remote
                              IDS                           Remote
                              Bachelor of Science           Remote
                              Bachelor's degree             Remote

                                                                                       salary  \
job title                     skills
Senior Cybersecurity Engineer J2EE                      Estimated: $110,000 - $160,000 a year
                              NoSQL                     Estimated: $110,000 - $160,000 a year
                              Spring Boot               Estimated: $110,000 - $160,000 a year
                              DevOps                    Estimated: $110,000 - $160,000 a year
                              Leadership                Estimated: $110,000 - $160,000 a year
...                                                                                       ...
Security Analyst (Tier III)   Vulnerability management   Estimated: $91,000 - $130,000 a year
                              Azure                      Estimated: $91,000 - $130,000 a year
                              IDS                        Estimated: $91,000 - $130,000 a year
                              Bachelor of Science        Estimated: $91,000 - $130,000 a year
                              Bachelor's degree          Estimated: $91,000 - $130,000 a year

                                                       Min Salary Max Salary
job title                     skills
Senior Cybersecurity Engineer J2EE                        110000      160000
                              NoSQL                       110000      160000
                              Spring Boot                 110000      160000
                              DevOps                      110000      160000
                              Leadership                  110000      160000
...                                                           ...        ...
Security Analyst (Tier III)   Vulnerability management     91000      130000
                              Azure                        91000      130000
                              IDS                          91000      130000
                              Bachelor of Science          91000      130000
                              Bachelor's degree            91000      130000

[4230 rows x 5 columns]