## Import Data

In [1]:
import pandas as pd

df = pd.read_csv("Enterprise Systems Job Data.csv")

In [2]:
df

,job title,company name,location,salary,skills
0,Senior Financial Analyst,San Mateo County Transit District - 3.9,"San Carlos, CA","Estimated: $97,000 - $140,000 a year",Accounting
1,Senior Financial Analyst,San Mateo County Transit District - 3.9,"San Carlos, CA","Estimated: $97,000 - $140,000 a year",Power BI
2,Senior Financial Analyst,San Mateo County Transit District - 3.9,"San Carlos, CA","Estimated: $97,000 - $140,000 a year",Microsoft Excel
3,Senior Financial Analyst,San Mateo County Transit District - 3.9,"San Carlos, CA","Estimated: $97,000 - $140,000 a year",ERP systems
4,Senior Financial Analyst,San Mateo County Transit District - 3.9,"San Carlos, CA","Estimated: $97,000 - $140,000 a year",Microsoft Powerpoint
...,...,...,...,...,...
2886,Business System Analyst (Spanish),"Odoo, Inc. - 4.4","San Francisco, CA","$70,000 - $95,000 a year",ERP systems
2887,Business System Analyst (Spanish),"Odoo, Inc. - 4.4","San Francisco, CA","$70,000 - $95,000 a year",Communication skills
2888,Business System Analyst (Spanish),"Odoo, Inc. - 4.4","San Francisco, CA","$70,000 - $95,000 a year",SaaS
2889,Business System Analyst (Spanish),"Odoo, Inc. - 4.4","San Francisco, CA","$70,000 - $95,000 a year",Bachelor's degree
2890,Business Analyst,Datix - 1.3,Remote,"Estimated: $70,000 - $92,000 a year",SyteLine

### drop null values

In [3]:
df = df.dropna()

### drop columns

In [4]:
df=df.drop(['company name'], axis=1)

In [5]:
df=df.drop(['location'], axis=1)

## Data Cleaning

### salary

In [6]:
df['salary'] = df['salary'].apply(lambda x: x.replace('Estimated: ', ''))

In [7]:
df['salary'] = df['salary'].apply(lambda x: x.replace('$', '').replace('K', ',000'))

In [8]:
df['salary'] = df['salary'].apply(lambda x: x.replace('.1', '').replace('.2', '').replace('.3', '').replace('.4', '').replace('.5', '').replace('.6', '').replace('.7', '').replace('.8', '').replace('.9', ''))

In [9]:
df = df[df["salary"].str.contains("an hour")== False]

In [10]:
df = df[df["salary"].str.contains("a week")== False]

In [11]:
df = df[df["salary"].str.contains("a month")== False]

In [12]:
df['salary'] = df['salary'].apply(lambda x: x.replace(' a year', ''))

In [13]:
df = df.drop(df[df['salary'].str.contains('-')==False].index)

### create min, max, and average salary columns

In [14]:
df['min salary'] = df['salary'].apply(lambda x: x.split(' - ')[0])

In [15]:
df['max salary'] = df['salary'].apply(lambda x: x.split(' - ')[1])

In [16]:
df['min salary'] = df['min salary'].apply(lambda x: x.replace(',', ''))

In [17]:
df['max salary'] = df['max salary'].apply(lambda x: x.replace(',', ''))

In [18]:
df[['min salary', 'max salary']] = df[['min salary', 'max salary']].apply(pd.to_numeric)

In [19]:
df['avg salary'] = (df['min salary']+df['max salary'])/2

### drop salary column

In [20]:
df=df.drop(['salary'], axis=1)

In [21]:
df

,job title,skills,min salary,max salary,avg salary
0,Senior Financial Analyst,Accounting,97000,140000,118500.0
1,Senior Financial Analyst,Power BI,97000,140000,118500.0
2,Senior Financial Analyst,Microsoft Excel,97000,140000,118500.0
3,Senior Financial Analyst,ERP systems,97000,140000,118500.0
4,Senior Financial Analyst,Microsoft Powerpoint,97000,140000,118500.0
...,...,...,...,...,...
2886,Business System Analyst (Spanish),ERP systems,70000,95000,82500.0
2887,Business System Analyst (Spanish),Communication skills,70000,95000,82500.0
2888,Business System Analyst (Spanish),SaaS,70000,95000,82500.0
2889,Business System Analyst (Spanish),Bachelor's degree,70000,95000,82500.0
2890,Business Analyst,SyteLine,70000,92000,81000.0

### drop job benefits

In [22]:
df = df[df["skills"].str.contains("Health insurance|401|Paid time off|year|years|Wellness program|Dental insurance|Tuition reimbursement|Vision insurance|Life insurance|Disability insurance|Retirement plan|Health savings account|insurance|Employee assistance program|Opportunities for advancement|Work from home|Parental leave|Flexible schedule|Caregiver leave|Employee stock purchase plan|Family leave|Paid holidays|Flexible spending account|Relocation assistance|Secret Clearance|Referral program|Professional development assistance|Adoption assistance|Unlimited paid time off|Training & development|No experience needed|Paid sick time|Caregiver leave|Employee discount|Prescription drug insurance|Visa sponsorship|Loan forgiveness|403|Top Secret Clearance|Employee stock ownership plan|Commuter assistance") == False]

### separate degrees from skills

In [23]:
degrees=df["skills"].str.contains("Doctor of Philosophy|degree|Bachelor|Master|High school")

In [24]:
df['education']=df["skills"].where(degrees,'')

In [25]:
df["skills"]=df["skills"].mask(degrees,'')

### drop education column

In [26]:
df=df.drop(['education'], axis=1)

In [27]:
df

,job title,skills,min salary,max salary,avg salary
0,Senior Financial Analyst,Accounting,97000,140000,118500.0
1,Senior Financial Analyst,Power BI,97000,140000,118500.0
2,Senior Financial Analyst,Microsoft Excel,97000,140000,118500.0
3,Senior Financial Analyst,ERP systems,97000,140000,118500.0
4,Senior Financial Analyst,Microsoft Powerpoint,97000,140000,118500.0
...,...,...,...,...,...
2886,Business System Analyst (Spanish),ERP systems,70000,95000,82500.0
2887,Business System Analyst (Spanish),Communication skills,70000,95000,82500.0
2888,Business System Analyst (Spanish),SaaS,70000,95000,82500.0
2889,Business System Analyst (Spanish),,70000,95000,82500.0
2890,Business Analyst,SyteLine,70000,92000,81000.0

### job titles

In [28]:
df2 = df.copy()

In [29]:
pd.set_option("display.max_rows", None)
print(df2['job title'].value_counts())

Business Systems Analyst                                                                    107
Business Analyst                                                                            101
IT Business Analyst                                                                          36
Senior Business Analyst                                                                      26
Business Analyst II                                                                          25
Junior Business Analyst                                                                      21
Sr. Business Systems Analyst                                                                 20
Sr. Business Analyst                                                                         18
Senior Operations Financial Analyst                                                          18
Sales Operations Analyst                                                                     17
Business System Analyst                                                                      17
Senior Accountant                                                                            14
Sales Analyst                                                                                14
ERP Business Analyst                                                                         13
Business Intelligence Analyst                                                                13
Operations Analyst                                                                           13
Business Data Analyst                                                                        12
Business Process Analyst                                                                     12
Financial Analyst                                                                            12
IT Operations Analyst                                                                        12
Global Commercial Data Analyst                                                               12
Sales Planning Analyst                                                                       12
FP&A Analyst                                                                                 11
NetSuite Business Analyst                                                                    11
IT Business System Analyst                                                                   11
Business Analyst/Tester                                                                      10
SAP Business Analyst                                                                         10
Implementation Consultant                                                                    10
Supply Chain Business Analyst - REF1267K                                                      9
Senior ERP Data Integration Analyst                                                           9
Sr. Functional Analyst, HCM Systems                                                           9
IT and ERP Manager                                                                            8
Sr. Financial Analyst (FP&A Operations) - Hybrid                                              8
Business Analyst ($1,000 Sign-on Bonus!)                                                      8
Supply Chain Business Analyst                                                                 8
Senior Business Systems Analyst                                                               8
Managing Enterprise Architect - Oracle Cloud Financials Architect                             8
Senior Financial Analyst (Business Support Analyst)                                           8
Business Analyst/Data Analyst                                                                 8
Financial Planning & Business Analyst                                                         8
Supply Chain Operations Analyst                                                               8
Technical Business Analyst                                                                    8
Business Central (BC) Analyst, Power BI Developer                                             8
Business/Systems Analyst 2                                                                    8
Director, Business Intelligence                                                               8
Group Finance Director                                                                        8
IS Systems Analyst - IS Business Applications (Workday)                                       7
ERP/SIS Business Analyst and Programmer                                                       7
Business Systems Analyst - PeopleSoft ERP                                                     7
Sr. IT Business Analyst                                                                       7
Business Analyst (Sage X3 ERP)                                                                7
IT Business Analyst - Supply Chain Planning/MM                                                7
Sr. Oracle Cloud ERP Business Analyst                                                         7
Lead, Business Analyst, Americas Supply Chain                                                 7
Sr. Staff SAP PP Analyst                                                                      7
Solutions Engineer                                                                            7
Senior Business Analyst - Active TS/SCI with Polygraph Required                               7
Staff Business Analyst                                                                        7
IT SAP Business Analyst - Finance                                                             7
Principal Business Performance Analyst                                                        7
Oracle Business Systems Analyst Specialist (Hybrid)                                           7
Sales Operations Associate Analyst - REMOTE                                                   7
IT Analyst II ( Weekend Day Shift)                                                            7
Operations Cost Analyst                                                                       7
Pricing Specialist                                                                            7
Sr Business Analyst, Supply Chain                                                             7
Oracle Business Analyst â€“ Supply Chain                                                        7
IT ERP Business Systems Analyst                                                               7
Manager Business Intelligence                                                                 7
Business Systems Analyst IV                                                                   7
Executive Assistant to the CEO                                                                7
Sr. Director, ERP Business Analysis                                                           7
Business Systems Analyst (Remote)                                                             7
Salesforce Developer                                                                          7
Senior Operations Analyst                                                                     7
IT Project Manager                                                                            7
ERP/IS Business Analyst                                                                       7
Epicor Business Analyst                                                                       7
IT Business Systems Analyst                                                                   7
Senior Business Applications Analyst                                                          7
Business Analyst II - Nashville, TN                                                           7
Business Financial Management Analyst                                                         7
Global ERP Application Manager - Epicor                                                       7
COINS ERP Business Analyst                                                                    7
IT SAP Business Analyst â€“ Supply Chain                                                        7
SrÂ IT Business Analyst                                                                        7
ERP Business Systems Analyst                                                                  7
BUSINESS ANALYST                                                                              7
Decision Support Specialist - Finance Manager                                                 7
Marketing Business Analyst                                                                    7
Business Systems Analyst 1                                                                    7
Entry-Level Sales Analyst                                                                     7
Business Technology Analyst                                                                   7
Business Systems Analyst III - DIV (Portland, OR)                                             7
Business Analyst-Product License Entitlement Management                                       7
IT SAP Business Process Analyst                                                               7
FINANCE PROCESS IMPROVEMENT BUSINESS ANALYST                                                  7
Sr. Business Analyst (Sage X3 ERP)                                                            7
PROCESS IMPROVEMENT BUSINESS ANALYST- REMOTE                                                  7
Sales & Operation Planning (S&OP) Supply Analyst at Golden Artist Colors                      6
Sales Business & Pricing Analyst - Milpitas, CA                                               6
Project Manager/Business Analyst                                                              6
Senior Program Manager - Strategic Sourcing                                                   6
Business Financial Analyst                                                                    6
Financial Planning Analyst (FP& A)                                                            6
Aerospace Business Analyst                                                                    6
Sales and Marketing Analyst/CRM Administrator                                                 6
Business Analyst - New Hope, MN                                                               6
Business Intelligence Analyst -- Manufacturing                                                6
Financial Planning Analyst                                                                    6
NetSuite Administrator                                                                        6
IT ERP Business Analyst-Warehouse                                                             6
Business and Reporting Analyst                                                                6
PMA-299 Program Analyst-Senior (GFE) (23-001)                                                 6
Business System Analyst (JD Edwards)                                                          6
Business Process Analyst II Prospect To Cash                                                  6
Senior Program Manager- ERP                                                                   6
Production Planning Manager                                                                   6
Senior Sales Analyst (FT)                                                                     6
Senior Financial Analyst                                                                      6
Business System Analyst (FT)                                                                  6
Project Analyst/Estimator                                                                     6
Digital Marketing Business Analyst                                                            6
Business Data Analyst (REMOTE OPPORTUNITY)                                                    6
Business Requirements Analyst                                                                 6
Ecommerce Business Analyst                                                                    6
Manufacturing Business Analyst                                                                6
Specialist, Human Resources (Business Analyst)                                                6
Business Consultant Syteline (Remote)                                                         6
Analyst, Business Operations                                                                  6
Business Analyst - Procure to Pay (Remote Work Available)                                     6
Business Analyst-Finance                                                                      6
Operations Financial Analyst                                                                  6
Business Systems Analyst - Senior                                                             6
Business Intelligence (BI) Analyst                                                            6
IT Business Process Analyst                                                                   6
Business & Systems Analyst                                                                    6
Business Systems Analyst (G&A Systems)                                                        6
Business Analyst, eCommerce Merchandising (Hybrid)                                            6
Business Analyst, ERP                                                                         6
Business Analyst-Logistic/Warehousing                                                         6
E-commerce Business Analyst                                                                   6
Administrative Business Operations Analyst                                                    6
Financial Operations Business Analyst                                                         6
Systems Support Analyst, Business Operations                                                  6
Business Systems Analyst (ERP)                                                                6
Payroll Business Analyst                                                                      6
BUSINESS SYSTEMS ANALYST I                                                                    6
Business Systems Analyst, Security Liaison                                                    6
Analyst, eCommerce Business                                                                   6
Senior Business Analyst-SAP FI/CO                                                             6
Business Architect - Finance Systems                                                          6
Location: Tulsa, OK) Business Analyst - Machine Performance                                   6
Business-Production Analyst - Onsite - Moore                                                  6
Enterprise Software Developer                                                                 6
Application Analyst, ERP                                                                      6
Business Excellence Analyst                                                                   6
Implementation Developer MS Dynamics CRM (FT)                                                 6
Business Analyst I                                                                            6
Senior Solutions Engineer                                                                     6
Business and Quality Assurance Analyst                                                        6
Senior Business Intelligence Analyst                                                          6
Sales & Operations Planning Analyst                                                           6
Power Platform Business Analyst                                                               6
Sr. Financial Analyst                                                                         6
ERP/Business Systems Analyst                                                                  6
ERP Project Manager/ ERP Program Manager                                                      6
IT Solutions Manager                                                                          6
Business Systems Programmer Analyst                                                           6
Sales Operations Forecast Analyst                                                             6
Sales Analyst TX                                                                              6
Sr. Payroll Systems Analyst                                                                   6
Business Consultant Syteline                                                                  6
SQL Business Intelligence Developer/Analyst                                                   6
Business Applications Technical Analyst (Epicor ERP)                                          6
Manager Business Relationship                                                                 6
SAP Configuration Analyst                                                                     6
Senior Analyst - Project Manager                                                              6
Business System Analyst II                                                                    6
Business Analyst - Level III                                                                  6
Advisor Application Designer                                                                  6
Lead Business Analyst                                                                         6
Cyber Operations Analyst                                                                      6
Orcle Pro Funct Spec L1- A                                                                    6
IT Manager (Data Applications Manager)                                                        6
Advisory Consultant                                                                           6
Business Systems Analyst - Supply Chain                                                       6
S&OP - Enterprise Architect - Capgemini - Invent                                              6
IT Senior Business Systems Analyst - Manufacturing                                            6
Business Systems Analyst - Order Management                                                   6
Business Systems Analyst II, IT                                                               6
Data Analyst                                                                                  6
ERP Systems Developer 3                                                                       6
IT Manufacturing Business Analyst                                                             6
Oracle Business Analyst â€“ Order Management                                                    6
CTB IT Network Security Administrator                                                         6
Programmer/Analyst                                                                            6
Strategic Sourcing Specialist II                                                              6
CUBE - Logistics Transportation Planner (Contract)                                            6
eShop Business Analyst (Product Management)                                                   6
Business Analyst, Manufacturing                                                               6
Business Systems Analyst II                                                                   6
Business Intelligence Manager                                                                 6
Logistics Business Analyst                                                                    6
Business Analyst II - Payroll, Time Tracking, and Absence Management                          6
Business Analyst II - Compensation                                                            6
IQMS Business Systems Analyst                                                                 6
Business Process Analyst II Record to Report                                                  6

In [30]:
df2.loc[df2['job title'].str.contains('architect', case=False), 'job title'] = 'Solution Architect'

In [31]:
df2.loc[df2['job title'].str.contains('account', case=False), 'job title'] = 'Accountant'

In [32]:
df2.loc[df2['job title'].str.contains('erp', case=False), 'job title'] = 'ERP Analyst'

In [33]:
df2.loc[df2['job title'].str.contains('business system', case=False), 'job title'] = 'Business Systems Analyst'

In [34]:
df2.loc[df2['job title'].str.contains('intelligence', case=False), 'job title'] = 'Business Intelligence Analyst'

In [35]:
df2.loc[df2['job title'].str.contains('financial', case=False), 'job title'] = 'Financial Analyst'

In [36]:
df2.loc[df2['job title'].str.contains('sale', case=False), 'job title'] = 'Sales Analyst'

In [37]:
df2.loc[df2['job title'].str.contains('data', case=False), 'job title'] = 'Data Analyst'

In [38]:
df2.loc[df2['job title'].str.contains('operation', case=False), 'job title'] = 'Operations Analyst'

In [39]:
df2.loc[df2['job title'].str.contains('Business Intelligence Analyst', case=False), 'job title'] = 'Business Analyst'

In [40]:
df2.loc[df2['job title'].str.contains('system', case=False), 'job title'] = 'Business Systems Analyst'

In [41]:
df2.loc[df2['job title'].str.contains('it', case=False), 'job title'] = 'IT Analyst'

In [42]:
df2.loc[df2['job title'].str.contains('business analyst', case=False), 'job title'] = 'Business Analyst'

In [43]:
df2.loc[df2['job title'].str.contains('process', case=False), 'job title'] = 'Business Process Analyst'

In [44]:
df2.loc[df2['job title'].str.contains('IT Analyst', case=False), 'job title'] = 'IT Business Analyst'

In [45]:
df2 = df2.drop(df2[df2['job title'].str.contains('Business Analyst|Business Systems Analyst|IT Business Analyst|ERP Analyst|Financial Analyst|Operations Analyst|Sales Analyst|Data Analyst|Business Process Analyst|Accountant')==False].index)

In [46]:
pd.set_option("display.max_rows", None)
print(df2['job title'].value_counts())

Business Analyst            628
Business Systems Analyst    402
IT Business Analyst         254
ERP Analyst                 244
Financial Analyst           146
Operations Analyst          139
Sales Analyst               123
Data Analyst                 50
Business Process Analyst     42
Accountant                   14
Name: job title, dtype: int64

In [47]:
df2=df2.reset_index(drop=True)

In [48]:
df2

,job title,skills,min salary,max salary,avg salary
0,Financial Analyst,Accounting,97000,140000,118500.0
1,Financial Analyst,Power BI,97000,140000,118500.0
2,Financial Analyst,Microsoft Excel,97000,140000,118500.0
3,Financial Analyst,ERP systems,97000,140000,118500.0
4,Financial Analyst,Microsoft Powerpoint,97000,140000,118500.0
5,Financial Analyst,,97000,140000,118500.0
6,Business Systems Analyst,Software troubleshooting,65000,87000,76000.0
7,Business Systems Analyst,Project management,65000,87000,76000.0
8,Business Systems Analyst,IT,65000,87000,76000.0
9,Business Systems Analyst,Project management methodology,65000,87000,76000.0
10,Business Systems Analyst,,65000,87000,76000.0
11,Business Systems Analyst,,65000,87000,76000.0
12,Business Analyst,Driver's License,62000,88000,75000.0
13,Business Analyst,,62000,88000,75000.0
14,Business Analyst,,62000,88000,75000.0
15,IT Business Analyst,Microsoft Access,85000,110000,97500.0
16,IT Business Analyst,Microsoft Excel,85000,110000,97500.0
17,IT Business Analyst,SOX,85000,110000,97500.0
18,IT Business Analyst,SAP Supply Chain Management,85000,110000,97500.0
19,IT Business Analyst,Microsoft Powerpoint,85000,110000,97500.0
20,IT Business Analyst,,85000,110000,97500.0
21,IT Business Analyst,,85000,110000,97500.0
22,Business Analyst,Human resources,66000,86000,76000.0
23,Business Analyst,Payroll,66000,86000,76000.0
24,Business Analyst,Workday,66000,86000,76000.0
25,Business Analyst,Business analysis,66000,86000,76000.0
26,Business Analyst,IT,66000,86000,76000.0
27,Business Analyst,,66000,86000,76000.0
28,Business Analyst,Human resources,66000,86000,76000.0
29,Business Analyst,Payroll,66000,86000,76000.0
30,Business Analyst,Workday,66000,86000,76000.0
31,Business Analyst,Business analysis,66000,86000,76000.0
32,Business Analyst,IT,66000,86000,76000.0
33,Business Analyst,,66000,86000,76000.0
34,Business Analyst,Workday,66000,86000,76000.0
35,Business Analyst,Business analysis,66000,86000,76000.0
36,Business Analyst,IT,66000,86000,76000.0
37,Business Analyst,,66000,86000,76000.0
38,Business Systems Analyst,ERP systems,50000,80000,65000.0
39,Business Systems Analyst,FDA regulations,50000,80000,65000.0
40,Business Systems Analyst,Communication skills,50000,80000,65000.0
41,Business Systems Analyst,VPN,50000,80000,65000.0
42,Business Systems Analyst,Crystal Reports,50000,80000,65000.0
43,Business Systems Analyst,,50000,80000,65000.0
44,IT Business Analyst,Sage,90000,120000,105000.0
45,IT Business Analyst,Analysis skills,90000,120000,105000.0
46,IT Business Analyst,JD Edwards,90000,120000,105000.0
47,IT Business Analyst,Manufacturing,90000,120000,105000.0
48,IT Business Analyst,ERP systems,90000,120000,105000.0
49,Business Process Analyst,Project management,67000,87000,77000.0
50,Business Process Analyst,Accounting,67000,87000,77000.0
51,Business Process Analyst,Power BI,67000,87000,77000.0
52,Business Process Analyst,Microsoft Excel,67000,87000,77000.0
53,Business Process Analyst,ERP systems,67000,87000,77000.0
54,Business Process Analyst,,67000,87000,77000.0
55,ERP Analyst,Project management,89000,120000,104500.0
56,ERP Analyst,Microsoft Excel,89000,120000,104500.0
57,ERP Analyst,ERP systems,89000,120000,104500.0
58,ERP Analyst,Business analysis,89000,120000,104500.0
59,ERP Analyst,Data collection,89000,120000,104500.0
60,ERP Analyst,,89000,120000,104500.0
61,ERP Analyst,,89000,120000,104500.0
62,Business Systems Analyst,Power BI,97000,120000,108500.0
63,Business Systems Analyst,Communication skills,97000,120000,108500.0
64,Business Systems Analyst,Workday,97000,120000,108500.0
65,Business Systems Analyst,Oracle,97000,120000,108500.0
66,Sales Analyst,Power BI,64000,74000,69000.0
67,Sales Analyst,Tableau,64000,74000,69000.0
68,Sales Analyst,Pivot tables,64000,74000,69000.0
69,Sales Analyst,Communication skills,64000,74000,69000.0
70,Sales Analyst,Analytics,64000,74000,69000.0
71,Financial Analyst,Accounting,77000,100000,88500.0
72,Financial Analyst,Manufacturing,77000,100000,88500.0
73,Financial Analyst,Microsoft Excel,77000,100000,88500.0
74,Financial Analyst,Windows,77000,100000,88500.0
75,Financial Analyst,ERP systems,77000,100000,88500.0
76,Financial Analyst,,77000,100000,88500.0
77,Financial Analyst,,77000,100000,88500.0
78,Financial Analyst,,77000,100000,88500.0
79,Operations Analyst,Order fulfillment,55000,71000,63000.0
80,Operations Analyst,Microsoft Excel,55000,71000,63000.0
81,Operations Analyst,Tableau,55000,71000,63000.0
82,Operations Analyst,Pricing,55000,71000,63000.0
83,Operations Analyst,Google Suite,55000,71000,63000.0
84,Operations Analyst,,55000,71000,63000.0
85,Business Systems Analyst,Requirements gathering,125000,140000,132500.0
86,Business Systems Analyst,Cognos,125000,140000,132500.0
87,Business Systems Analyst,Payroll,125000,140000,132500.0
88,Business Systems Analyst,ERP systems,125000,140000,132500.0
89,Business Systems Analyst,System design,125000,140000,132500.0
90,Business Systems Analyst,,125000,140000,132500.0
91,Business Systems Analyst,,125000,140000,132500.0
92,Business Systems Analyst,,125000,140000,132500.0
93,Business Systems Analyst,,125000,140000,132500.0
94,Business Analyst,Financial modeling,71000,100000,85500.0
95,Business Analyst,Accounting,71000,100000,85500.0
96,Business Analyst,Analysis skills,71000,100000,85500.0
97,Business Analyst,Lawson,71000,100000,85500.0
98,Business Analyst,ERP systems,71000,100000,85500.0
99,Business Analyst,,71000,100000,85500.0
100,Business Analyst,,71000,100000,85500.0
101,Business Systems Analyst,Microsoft Excel,62000,85000,73500.0
102,Business Systems Analyst,Data management,62000,85000,73500.0
103,Business Systems Analyst,Salesforce,62000,85000,73500.0
104,Business Systems Analyst,Time management,62000,85000,73500.0
105,Business Systems Analyst,,62000,85000,73500.0
106,Financial Analyst,Microsoft Excel,85300,131000,108150.0
107,Financial Analyst,Tableau,85300,131000,108150.0
108,Financial Analyst,SAP ERP,85300,131000,108150.0
109,Financial Analyst,Hyperion,85300,131000,108150.0
110,Financial Analyst,Communication skills,85300,131000,108150.0
111,Financial Analyst,,85300,131000,108150.0
112,ERP Analyst,Payroll,77000,100000,88500.0
113,ERP Analyst,Microsoft Excel,77000,100000,88500.0
114,ERP Analyst,SAP,77000,100000,88500.0
115,ERP Analyst,Organizational skills,77000,100000,88500.0
116,ERP Analyst,Business analysis,77000,100000,88500.0
117,ERP Analyst,,77000,100000,88500.0
118,ERP Analyst,Payroll,56000,78000,67000.0
119,ERP Analyst,SAP S/4HANA,56000,78000,67000.0
120,ERP Analyst,SAP,56000,78000,67000.0
121,ERP Analyst,Accounts payable,56000,78000,67000.0
122,ERP Analyst,Cost accounting,56000,78000,67000.0
123,ERP Analyst,,56000,78000,67000.0
124,Business Analyst,Supplier management,73000,100000,86500.0
125,Business Analyst,Project management,73000,100000,86500.0
126,Business Analyst,Analysis skills,73000,100000,86500.0
127,Business Analyst,EDI,73000,100000,86500.0
128,Business Analyst,Microsoft Excel,73000,100000,86500.0
129,Business Analyst,,73000,100000,86500.0
130,ERP Analyst,Requirements gathering,110000,160000,135000.0
131,ERP Analyst,Microsoft Powerpoint,110000,160000,135000.0
132,ERP Analyst,Oracle EBS,110000,160000,135000.0
133,ERP Analyst,Visio,110000,160000,135000.0
134,ERP Analyst,Business requirements,110000,160000,135000.0
135,ERP Analyst,,110000,160000,135000.0
136,Business Analyst,JD Edwards,100000,105000,102500.0
137,Business Analyst,Communication skills,100000,105000,102500.0
138,Business Analyst,,100000,105000,102500.0
139,Business Analyst,,100000,105000,102500.0
140,Sales Analyst,Project management,66000,85000,75500.0
141,Sales Analyst,Analysis skills,66000,85000,75500.0
142,Sales Analyst,Microsoft Excel,66000,85000,75500.0
143,Sales Analyst,SAP,66000,85000,75500.0
144,Sales Analyst,Microsoft Powerpoint,66000,85000,75500.0
145,Sales Analyst,,66000,85000,75500.0
146,Operations Analyst,Project planning,140000,170000,155000.0
147,Operations Analyst,Primavera,140000,170000,155000.0
148,Operations Analyst,Analysis skills,140000,170000,155000.0
149,Operations Analyst,Manufacturing,140000,170000,155000.0
150,Operations Analyst,ERP systems,140000,170000,155000.0
151,Operations Analyst,,140000,170000,155000.0
152,Operations Analyst,,140000,170000,155000.0
153,Business Process Analyst,Warehouse management,98000,130000,114000.0
154,Business Process Analyst,Customer service,98000,130000,114000.0
155,Business Process Analyst,Microsoft Excel,98000,130000,114000.0
156,Business Process Analyst,ERP systems,98000,130000,114000.0
157,Business Process Analyst,SAP ERP,98000,130000,114000.0
158,Business Process Analyst,,98000,130000,114000.0
159,Business Analyst,Creo,94000,130000,112000.0
160,Business Analyst,JD Edwards,94000,130000,112000.0
161,Business Analyst,ERP systems,94000,130000,112000.0
162,Business Analyst,SOX,94000,130000,112000.0
163,Business Analyst,ServiceNow,94000,130000,112000.0
164,Business Analyst,,94000,130000,112000.0
165,ERP Analyst,Accounting,130000,180000,155000.0
166,ERP Analyst,Power BI,130000,180000,155000.0
167,ERP Analyst,Azure,130000,180000,155000.0
168,ERP Analyst,Microsoft Excel,130000,180000,155000.0
169,ERP Analyst,Scrum,130000,180000,155000.0
170,ERP Analyst,,130000,180000,155000.0
171,ERP Analyst,,130000,180000,155000.0
172,IT Business Analyst,Analysis skills,130000,170000,150000.0
173,IT Business Analyst,Database management,130000,170000,150000.0
174,IT Business Analyst,SQL,130000,170000,150000.0
175,IT Business Analyst,Business analysis,130000,170000,150000.0
176,IT Business Analyst,SAP Materials Management,130000,170000,150000.0
177,IT Business Analyst,,130000,170000,150000.0
178,Business Analyst,ERP systems,78000,110000,94000.0
179,Business Analyst,Power BI,83000,100000,91500.0
180,Business Analyst,ERP systems,83000,100000,91500.0
181,Business Analyst,SAP ERP,83000,100000,91500.0
182,Business Analyst,Data visualization,83000,100000,91500.0
183,Business Analyst,Communication skills,83000,100000,91500.0
184,Business Analyst,,83000,100000,91500.0
185,Business Analyst,,83000,100000,91500.0
186,ERP Analyst,SAP,74000,110000,92000.0
187,ERP Analyst,ERP systems,74000,110000,92000.0
188,ERP Analyst,Systems analysis,74000,110000,92000.0
189,ERP Analyst,Interviewing,74000,110000,92000.0
190,ERP Analyst,System design,74000,110000,92000.0
191,ERP Analyst,,74000,110000,92000.0
192,Financial Analyst,Microsoft Access,67000,93000,80000.0
193,Financial Analyst,Project management,67000,93000,80000.0
194,Financial Analyst,Accounting,67000,93000,80000.0
195,Financial Analyst,Analysis skills,67000,93000,80000.0
196,Financial Analyst,Data governance,67000,93000,80000.0
197,Financial Analyst,,67000,93000,80000.0
198,IT Business Analyst,Project management,100000,130000,115000.0
199,IT Business Analyst,PMP,100000,130000,115000.0
200,IT Business Analyst,ERP systems,100000,130000,115000.0
201,IT Business Analyst,Business analysis,100000,130000,115000.0
202,IT Business Analyst,Scrum,100000,130000,115000.0
203,IT Business Analyst,EDI,81000,110000,95500.0
204,IT Business Analyst,Supply chain management,81000,110000,95500.0
205,IT Business Analyst,Azure,81000,110000,95500.0
206,IT Business Analyst,SQL,81000,110000,95500.0
207,IT Business Analyst,E-commerce,81000,110000,95500.0
208,IT Business Analyst,,81000,110000,95500.0
209,IT Business Analyst,,81000,110000,95500.0
210,Business Analyst,SQL,88000,132000,110000.0
211,Business Analyst,ERP systems,88000,132000,110000.0
212,Business Analyst,Business intelligence,88000,132000,110000.0
213,Business Analyst,SAP CRM,88000,132000,110000.0
214,Business Analyst,Communication skills,88000,132000,110000.0
215,Business Analyst,,88000,132000,110000.0
216,Business Analyst,,88000,132000,110000.0
217,ERP Analyst,Power BI,130000,170000,150000.0
218,ERP Analyst,Confluence,130000,170000,150000.0
219,ERP Analyst,Manufacturing,130000,170000,150000.0
220,ERP Analyst,SQL,130000,170000,150000.0
221,ERP Analyst,Oracle EBS,130000,170000,150000.0
222,ERP Analyst,,130000,170000,150000.0
223,Business Systems Analyst,,77000,110000,93500.0
224,Operations Analyst,Project management,79000,110000,94500.0
225,Operations Analyst,Analysis skills,79000,110000,94500.0
226,Operations Analyst,Microsoft Excel,79000,110000,94500.0
227,Operations Analyst,SAP,79000,110000,94500.0
228,Operations Analyst,ERP systems,79000,110000,94500.0
229,Operations Analyst,,79000,110000,94500.0
230,Business Systems Analyst,Unit testing,83000,110000,96500.0
231,Business Systems Analyst,Manufacturing,83000,110000,96500.0
232,Business Systems Analyst,Customer service,83000,110000,96500.0
233,Business Systems Analyst,SAP S/4HANA,83000,110000,96500.0
234,Business Systems Analyst,Sales,83000,110000,96500.0
235,Business Systems Analyst,,83000,110000,96500.0
236,Business Systems Analyst,,83000,110000,96500.0
237,Business Systems Analyst,,83000,110000,96500.0
238,Business Analyst,Supply chain,117200,195330,156265.0
239,Business Analyst,SQL,117200,195330,156265.0
240,Business Analyst,Microsoft Excel,117200,195330,156265.0
241,Business Analyst,Demand planning,117200,195330,156265.0
242,Business Analyst,Oracle,117200,195330,156265.0
243,Business Analyst,,117200,195330,156265.0
244,Business Analyst,,117200,195330,156265.0
245,Business Analyst,,117200,195330,156265.0
246,Business Process Analyst,SAP,91400,114300,102850.0
247,Business Process Analyst,Sales,91400,114300,102850.0
248,Business Process Analyst,SAP ERP,91400,114300,102850.0
249,Business Process Analyst,Service-oriented architecture,91400,114300,102850.0
250,Business Process Analyst,SAP CRM,91400,114300,102850.0
251,Business Process Analyst,,91400,114300,102850.0
252,Business Analyst,SQL,57505,70724,64114.5
253,Business Analyst,Microsoft Excel,57505,70724,64114.5
254,Business Analyst,ERP systems,57505,70724,64114.5
255,Business Analyst,Ellucian,57505,70724,64114.5
256,Business Analyst,Canvas,57505,70724,64114.5
257,Business Analyst,,57505,70724,64114.5
258,Business Analyst,,57505,70724,64114.5
259,Business Analyst,Six Sigma Certification,110000,140000,125000.0
260,Business Analyst,Power BI,110000,140000,125000.0
261,Business Analyst,Data modeling,110000,140000,125000.0
262,Business Analyst,Azure,110000,140000,125000.0
263,Business Analyst,Data visualization,110000,140000,125000.0
264,Business Analyst,,110000,140000,125000.0
265,Business Systems Analyst,Analysis skills,70752,92862,81807.0
266,Business Systems Analyst,Database management,70752,92862,81807.0
267,Business Systems Analyst,Manufacturing,70752,92862,81807.0
268,Business Systems Analyst,SQL,70752,92862,81807.0
269,Business Systems Analyst,ERP systems,70752,92862,81807.0
270,Business Systems Analyst,,70752,92862,81807.0
271,Business Analyst,Power BI,90000,112000,101000.0
272,Business Analyst,JD Edwards,90000,112000,101000.0
273,Business Analyst,Manufacturing,90000,112000,101000.0
274,Business Analyst,SQL,90000,112000,101000.0
275,Business Analyst,ERP systems,90000,112000,101000.0
276,Business Analyst,,90000,112000,101000.0
277,Business Systems Analyst,Microsoft Access,67132,83915,75523.5
278,Business Systems Analyst,SQL,67132,83915,75523.5
279,Business Systems Analyst,Microsoft Excel,67132,83915,75523.5
280,Business Systems Analyst,ERP systems,67132,83915,75523.5
281,Business Systems Analyst,Budgeting,67132,83915,75523.5
282,Business Systems Analyst,,67132,83915,75523.5
283,Business Systems Analyst,Analysis skills,50000,58000,54000.0
284,Business Systems Analyst,Database management,50000,58000,54000.0
285,Business Systems Analyst,Workday,50000,58000,54000.0
286,Business Systems Analyst,Systems analysis,50000,58000,54000.0
287,Business Systems Analyst,ServiceNow,50000,58000,54000.0
288,Business Systems Analyst,,50000,58000,54000.0
289,Business Systems Analyst,,50000,58000,54000.0
290,Business Analyst,Accounting,85000,95000,90000.0
291,Business Analyst,Manufacturing,85000,95000,90000.0
292,Business Analyst,ERP systems,85000,95000,90000.0
293,Business Analyst,Communication skills,85000,95000,90000.0
294,Business Analyst,Kaizen,85000,95000,90000.0
295,Business Analyst,,85000,95000,90000.0
296,Business Analyst,,85000,95000,90000.0
297,Business Systems Analyst,SQL,110000,120000,115000.0
298,Business Systems Analyst,Oracle EBS,110000,120000,115000.0
299,Business Systems Analyst,Oracle,110000,120000,115000.0
300,Business Systems Analyst,PL/SQL,110000,120000,115000.0
301,Business Systems Analyst,,110000,120000,115000.0
302,Business Analyst,Analysis skills,85000,110000,97500.0
303,Business Analyst,ITIL Certification,85000,110000,97500.0
304,Business Analyst,DoD 8570,85000,110000,97500.0
305,Business Analyst,IT,85000,110000,97500.0
306,Business Analyst,UCC law,85000,110000,97500.0
307,Business Analyst,,85000,110000,97500.0
308,Business Systems Analyst,Analysis skills,85000,120000,102500.0
309,Business Systems Analyst,Bank Secrecy Act,85000,120000,102500.0
310,Business Systems Analyst,Full-stack development,85000,120000,102500.0
311,Business Systems Analyst,Azure,85000,120000,102500.0
312,Business Systems Analyst,SQL,85000,120000,102500.0
313,Business Systems Analyst,,85000,120000,102500.0
314,Business Analyst,Six Sigma Certification,140000,170000,155000.0
315,Business Analyst,Lean Six Sigma Certification,140000,170000,155000.0
316,Business Analyst,Microsoft Excel,140000,170000,155000.0
317,Business Analyst,CCBA,140000,170000,155000.0
318,Business Analyst,Business process modeling,140000,170000,155000.0
319,Business Analyst,,140000,170000,155000.0
320,Operations Analyst,Writing skills,77000,110000,93500.0
321,Operations Analyst,Vulnerability management,77000,110000,93500.0
322,Operations Analyst,FIPS,77000,110000,93500.0
323,Operations Analyst,Windows,77000,110000,93500.0
324,Operations Analyst,FISMA,77000,110000,93500.0
325,Operations Analyst,,77000,110000,93500.0
326,Business Analyst,Power BI,74000,110000,92000.0
327,Business Analyst,Team management,74000,110000,92000.0
328,Business Analyst,SQL,74000,110000,92000.0
329,Business Analyst,Microsoft Excel,74000,110000,92000.0
330,Business Analyst,Leadership,74000,110000,92000.0
331,Business Analyst,,74000,110000,92000.0
332,Business Analyst,,74000,110000,92000.0
333,Business Analyst,,74000,110000,92000.0
334,ERP Analyst,Power BI,85000,120000,102500.0
335,ERP Analyst,SQL,85000,120000,102500.0
336,ERP Analyst,VBA,85000,120000,102500.0
337,ERP Analyst,Microsoft Excel,85000,120000,102500.0
338,ERP Analyst,SSIS,85000,120000,102500.0
339,ERP Analyst,,85000,120000,102500.0
340,ERP Analyst,,85000,120000,102500.0
341,ERP Analyst,,85000,120000,102500.0
342,ERP Analyst,,85000,120000,102500.0
343,Data Analyst,Power BI,80000,85000,82500.0
344,Data Analyst,Azure,80000,85000,82500.0
345,Data Analyst,SQL,80000,85000,82500.0
346,Data Analyst,Disaster recovery,80000,85000,82500.0
347,Data Analyst,ERP systems,80000,85000,82500.0
348,Data Analyst,,80000,85000,82500.0
349,Business Analyst,Driver's License,57606,83548,70577.0
350,Business Analyst,,57606,83548,70577.0
351,Business Analyst,,57606,83548,70577.0
352,Business Systems Analyst,Power BI,62000,84000,73000.0
353,Business Systems Analyst,ERP systems,62000,84000,73000.0
354,Business Systems Analyst,Business analysis,62000,84000,73000.0
355,Business Systems Analyst,System testing,62000,84000,73000.0
356,Business Systems Analyst,Business intelligence,62000,84000,73000.0
357,Business Systems Analyst,,62000,84000,73000.0
358,Business Analyst,Project management,76000,100000,88000.0
359,Business Analyst,Customer support,76000,100000,88000.0
360,Business Analyst,APICS Certification,76000,100000,88000.0
361,Business Analyst,MRP,76000,100000,88000.0
362,Business Analyst,PMP,76000,100000,88000.0
363,Business Analyst,,76000,100000,88000.0
364,Business Analyst,,76000,100000,88000.0
365,IT Business Analyst,Software deployment,120000,170000,145000.0
366,IT Business Analyst,Agile,120000,170000,145000.0
367,IT Business Analyst,Manufacturing,120000,170000,145000.0
368,IT Business Analyst,Supply chain,120000,170000,145000.0
369,IT Business Analyst,Business analysis,120000,170000,145000.0
370,IT Business Analyst,,120000,170000,145000.0

In [49]:
df=df2.copy()

### skill separation

In [50]:
df["skills"].unique()

array(['Accounting', 'Power BI', 'Microsoft Excel', 'ERP systems',
       'Microsoft Powerpoint', '', 'Software troubleshooting',
       'Project management', 'IT', 'Project management methodology',
       "Driver's License", 'Microsoft Access', 'SOX',
       'SAP Supply Chain Management', 'Human resources', 'Payroll',
       'Workday', 'Business analysis', 'FDA regulations',
       'Communication skills', 'VPN', 'Crystal Reports', 'Sage',
       'Analysis skills', 'JD Edwards', 'Manufacturing',
       'Data collection', 'Oracle', 'Tableau', 'Pivot tables',
       'Analytics', 'Windows', 'Order fulfillment', 'Pricing',
       'Google Suite', 'Requirements gathering', 'Cognos',
       'System design', 'Financial modeling', 'Lawson', 'Data management',
       'Salesforce', 'Time management', 'SAP ERP', 'Hyperion', 'SAP',
       'Organizational skills', 'SAP S/4HANA', 'Accounts payable',
       'Cost accounting', 'Supplier management', 'EDI', 'Oracle EBS',
       'Visio', 'Business requirements', 'Project planning', 'Primavera',
       'Warehouse management', 'Customer service', 'Creo', 'ServiceNow',
       'Azure', 'Scrum', 'Database management', 'SQL',
       'SAP Materials Management', 'Data visualization',
       'Systems analysis', 'Interviewing', 'Data governance', 'PMP',
       'Supply chain management', 'E-commerce', 'Business intelligence',
       'SAP CRM', 'Confluence', 'Unit testing', 'Sales', 'Supply chain',
       'Demand planning', 'Service-oriented architecture', 'Ellucian',
       'Canvas', 'Six Sigma Certification', 'Data modeling', 'Budgeting',
       'Kaizen', 'PL/SQL', 'ITIL Certification', 'DoD 8570', 'UCC law',
       'Bank Secrecy Act', 'Full-stack development',
       'Lean Six Sigma Certification', 'CCBA',
       'Business process modeling', 'Writing skills',
       'Vulnerability management', 'FIPS', 'FISMA', 'Team management',
       'Leadership', 'VBA', 'SSIS', 'Disaster recovery', 'System testing',
       'Customer support', 'APICS Certification', 'MRP',
       'Software deployment', 'Agile', 'Product demos',
       'Cloud architecture', 'Management consulting', 'SDLC',
       'Relational databases', 'SAS', 'Web development', '.NET',
       'Oracle HCM', 'Contracts', 'Computer networking',
       'Microsoft Office', 'Change management', 'Statistical analysis',
       'Nielsen', 'Certified Defense Financial Manager', 'B2B marketing',
       'Pardot', 'Marketing', 'Financial report writing', 'Jira',
       'Wills, trusts, & estate law', 'Cash application',
       'Application support', 'IT project management', 'LMS',
       'Microsoft Project', 'NetSuite', 'Application development',
       'DevOps', 'Financial management', 'Database administration',
       'Microsoft Outlook', 'SharePoint', 'Food service', 'Oil & gas',
       'User acceptance testing', 'Product development',
       'Computer skills', 'Presentation skills', 'Accounting software',
       'Process improvement', 'Word processing', 'Report writing',
       'Industrial construction', 'OBIEE', 'Research',
       'Data analysis skills', 'QlikView', 'Lean', 'Process mapping',
       'Quantitative analysis', 'Certified Information Systems Auditor',
       'WCF', 'UML', 'Product management', 'TFS', 'Cost management',
       'Logistics', 'Waterfall', 'Technical support', 'Visual Studio',
       'C#', 'Microsoft SQL Server', 'Negotiation', 'CPA',
       'Predictive analytics', 'Warehouse experience',
       'Warehouse distribution', 'Microsoft Dynamics 365',
       'Financial services', 'Python', 'Information management',
       'Ceridian', 'Data analytics', 'Warehouse management system',
       'Auto estimating', 'Construction estimating',
       'Enterprise software', 'IIBA Certification',
       'Documentation review', 'Microsoft Word',
       'Customer relationship management', 'Math', 'Horizontal drilling',
       'Financial analysis', 'Yardi', 'Kanban', 'Mobile applications',
       'Salesforce Certification', 'ITIL', 'Procurement',
       'Database development', 'Citrix', 'iOS', 'VMWare',
       'Conflict management', 'HR sourcing', 'Operating systems',
       'Digital marketing', 'Data structures', 'CPIM', 'SaaS',
       'Sanitation', 'Management', 'R', 'Root cause analysis', 'IFRS',
       'Smartsheet', '10 key typing', 'Teaching',
       'Certified Management Accountant', 'Remote access software',
       'Visual design', 'SyteLine', 'Technical writing',
       'General ledger reconciliation', 'Cash flow analysis', 'ASC 606',
       'Microsoft Dynamics GP', 'Certified Salesforce Administrator',
       'Lean manufacturing', 'Financial acumen', 'Account management',
       'Certified Project Manager', 'C++', 'ASP', 'Visual Basic', 'CSS',
       'Transportation management', 'Computer literacy', 'JSON',
       'Software development', 'Google Analytics Certification',
       'Database design', 'SAP SuccessFactors', 'HRIS', 'Google Docs',
       'Governmental accounting', 'Gherkin',
       'Microsoft Dynamics Navision', 'SSRS', 'SAP Manufacturing',
       'Excavator', 'Financial planning', 'Profit & loss',
       'Business management', 'PCI', 'HIPAA', 'Construction',
       'Microsoft Windows Server', 'Vendor management',
       'Continuous improvement', 'Drafting', 'Food industry', 'VoIP',
       'Project implementation', 'Purchasing', 'Trello'], dtype=object)

### soft skills

In [51]:
soft=df["skills"].str.contains("Organizational skills|Communication skills|Interviewing|Team management|Leadership|Writing skills|Customer service|Sales|Marketing|Presentation skills|Negotiation|Conflict management|HR sourcing|Teaching")

In [52]:
df['soft skills']=df["skills"].where(soft,'')

### business skills

In [53]:
business=df["skills"].str.contains("PMP|Azure|Scrum|Project planning|Accounting|Project management|Project management methodology|Business analysis|Requirements gathering|Warehouse management|Supply chain management|E-commerce|Business intelligence|SAP CRM|Management consulting|Statistical analysis|B2B marketing|Pardot|Application support|IT project management|Digital marketing|CPIM|Sanitation|Root cause analysis|IFRS|10 key typing|Financial acumen|Account management|Certified Project Manager")

In [54]:
df['business skills']=df["skills"].where(business,'')

### technical skills

In [55]:
technical=df["skills"].str.contains("Unit testing|Data modeling|Full-stack development|Database management|Analysis skills|Data collection| Microsoft Powerpoint|Power BI|Microsoft Excel|ERP systems|Software troubleshooting|IT|Microsoft Access|SAP Supply Chain Management|SOX|Human resources|Payroll|Workday|FDA regulations|VPN|Crystal Reports|Sage|JD Edwards|Manufacturing|Oracle|Tableau|Pivot tables|Analytics|Windows|Order fulfillment|Pricing|Google Suite|Cognos|System design|Lawson|Data management|Salesforce|SAP ERP|Hyperion|SAP|SAP S/4HANA|Accounts payable|Cost accounting|Supplier management|EDI|Oracle EBS|Visio|SAP Materials Management|Data visualization|Systems analysis|SQL|Cloud architecture|SDLC|Relational databases|SAS|Web development|.NET|Oracle HCM|Microsoft Office|Change management|Nielsen|Computer networking|Jira|Application development|DevOps|Microsoft Project|NetSuite|Financial management|Database administration|Microsoft Outlook|SharePoint|OBIEE|QlikView|TFS|Visual Studio|Microsoft SQL Server|CPA|Microsoft Dynamics 365|Python|Ceridian|Warehouse management system|Auto estimating|Construction estimating|Enterprise software|Citrix|iOS|VMWare|Data structures|SaaS|Smartsheet|SyteLine|ASC 606|Microsoft Dynamics GP")

In [56]:
df['technical skills']=df["skills"].where(technical,'')

In [57]:
df=df.reset_index(drop=True)

In [58]:
df

                     job title                                 skills  \
0            Financial Analyst                             Accounting
1            Financial Analyst                               Power BI
2            Financial Analyst                        Microsoft Excel
3            Financial Analyst                            ERP systems
4            Financial Analyst                   Microsoft Powerpoint
5            Financial Analyst
6     Business Systems Analyst               Software troubleshooting
7     Business Systems Analyst                     Project management
8     Business Systems Analyst                                     IT
9     Business Systems Analyst         Project management methodology
10    Business Systems Analyst
11    Business Systems Analyst
12            Business Analyst                       Driver's License
13            Business Analyst
14            Business Analyst
15         IT Business Analyst                       Microsoft Access
16         IT Business Analyst                        Microsoft Excel
17         IT Business Analyst                                    SOX
18         IT Business Analyst            SAP Supply Chain Management
19         IT Business Analyst                   Microsoft Powerpoint
20         IT Business Analyst
21         IT Business Analyst
22            Business Analyst                        Human resources
23            Business Analyst                                Payroll
24            Business Analyst                                Workday
25            Business Analyst                      Business analysis
26            Business Analyst                                     IT
27            Business Analyst
28            Business Analyst                        Human resources
29            Business Analyst                                Payroll
30            Business Analyst                                Workday
31            Business Analyst                      Business analysis
32            Business Analyst                                     IT
33            Business Analyst
34            Business Analyst                                Workday
35            Business Analyst                      Business analysis
36            Business Analyst                                     IT
37            Business Analyst
38    Business Systems Analyst                            ERP systems
39    Business Systems Analyst                        FDA regulations
40    Business Systems Analyst                   Communication skills
41    Business Systems Analyst                                    VPN
42    Business Systems Analyst                        Crystal Reports
43    Business Systems Analyst
44         IT Business Analyst                                   Sage
45         IT Business Analyst                        Analysis skills
46         IT Business Analyst                             JD Edwards
47         IT Business Analyst                          Manufacturing
48         IT Business Analyst                            ERP systems
49    Business Process Analyst                     Project management
50    Business Process Analyst                             Accounting
51    Business Process Analyst                               Power BI
52    Business Process Analyst                        Microsoft Excel
53    Business Process Analyst                            ERP systems
54    Business Process Analyst
55                 ERP Analyst                     Project management
56                 ERP Analyst                        Microsoft Excel
57                 ERP Analyst                            ERP systems
58                 ERP Analyst                      Business analysis
59                 ERP Analyst                        Data collection
60                 ERP Analyst
61                 ERP Analyst
62    Business Systems Analyst                               Power BI
63    Business Systems Analyst                   Communication skills
64    Business Systems Analyst                                Workday
65    Business Systems Analyst                                 Oracle
66               Sales Analyst                               Power BI
67               Sales Analyst                                Tableau
68               Sales Analyst                           Pivot tables
69               Sales Analyst                   Communication skills
70               Sales Analyst                              Analytics
71           Financial Analyst                             Accounting
72           Financial Analyst                          Manufacturing
73           Financial Analyst                        Microsoft Excel
74           Financial Analyst                                Windows
75           Financial Analyst                            ERP systems
76           Financial Analyst
77           Financial Analyst
78           Financial Analyst
79          Operations Analyst                      Order fulfillment
80          Operations Analyst                        Microsoft Excel
81          Operations Analyst                                Tableau
82          Operations Analyst                                Pricing
83          Operations Analyst                           Google Suite
84          Operations Analyst
85    Business Systems Analyst                 Requirements gathering
86    Business Systems Analyst                                 Cognos
87    Business Systems Analyst                                Payroll
88    Business Systems Analyst                            ERP systems
89    Business Systems Analyst                          System design
90    Business Systems Analyst
91    Business Systems Analyst
92    Business Systems Analyst
93    Business Systems Analyst
94            Business Analyst                     Financial modeling
95            Business Analyst                             Accounting
96            Business Analyst                        Analysis skills
97            Business Analyst                                 Lawson
98            Business Analyst                            ERP systems
99            Business Analyst
100           Business Analyst
101   Business Systems Analyst                        Microsoft Excel
102   Business Systems Analyst                        Data management
103   Business Systems Analyst                             Salesforce
104   Business Systems Analyst                        Time management
105   Business Systems Analyst
106          Financial Analyst                        Microsoft Excel
107          Financial Analyst                                Tableau
108          Financial Analyst                                SAP ERP
109          Financial Analyst                               Hyperion
110          Financial Analyst                   Communication skills
111          Financial Analyst
112                ERP Analyst                                Payroll
113                ERP Analyst                        Microsoft Excel
114                ERP Analyst                                    SAP
115                ERP Analyst                  Organizational skills
116                ERP Analyst                      Business analysis
117                ERP Analyst
118                ERP Analyst                                Payroll
119                ERP Analyst                            SAP S/4HANA
120                ERP Analyst                                    SAP
121                ERP Analyst                       Accounts payable
122                ERP Analyst                        Cost accounting
123                ERP Analyst
124           Business Analyst                    Supplier management
125           Business Analyst                     Project management
126           Business Analyst                        Analysis skills
127           Business Analyst                                    EDI
128           Business Analyst                        Microsoft Excel
129           Business Analyst
130                ERP Analyst                 Requirements gathering
131                ERP Analyst                   Microsoft Powerpoint
132                ERP Analyst                             Oracle EBS
133                ERP Analyst                                  Visio
134                ERP Analyst                  Business requirements
135                ERP Analyst
136           Business Analyst                             JD Edwards
137           Business Analyst                   Communication skills
138           Business Analyst
139           Business Analyst
140              Sales Analyst                     Project management
141              Sales Analyst                        Analysis skills
142              Sales Analyst                        Microsoft Excel
143              Sales Analyst                                    SAP
144              Sales Analyst                   Microsoft Powerpoint
145              Sales Analyst
146         Operations Analyst                       Project planning
147         Operations Analyst                              Primavera
148         Operations Analyst                        Analysis skills
149         Operations Analyst                          Manufacturing
150         Operations Analyst                            ERP systems
151         Operations Analyst
152         Operations Analyst
153   Business Process Analyst                   Warehouse management
154   Business Process Analyst                       Customer service
155   Business Process Analyst                        Microsoft Excel
156   Business Process Analyst                            ERP systems
157   Business Process Analyst                                SAP ERP
158   Business Process Analyst
159           Business Analyst                                   Creo
160           Business Analyst                             JD Edwards
161           Business Analyst                            ERP systems
162           Business Analyst                                    SOX
163           Business Analyst                             ServiceNow
164           Business Analyst
165                ERP Analyst                             Accounting
166                ERP Analyst                               Power BI
167                ERP Analyst                                  Azure
168                ERP Analyst                        Microsoft Excel
169                ERP Analyst                                  Scrum
170                ERP Analyst
171                ERP Analyst
172        IT Business Analyst                        Analysis skills
173        IT Business Analyst                    Database management
174        IT Business Analyst                                    SQL
175        IT Business Analyst                      Business analysis
176        IT Business Analyst               SAP Materials Management
177        IT Business Analyst
178           Business Analyst                            ERP systems
179           Business Analyst                               Power BI
180           Business Analyst                            ERP systems
181           Business Analyst                                SAP ERP
182           Business Analyst                     Data visualization
183           Business Analyst                   Communication skills
184           Business Analyst
185           Business Analyst
186                ERP Analyst                                    SAP
187                ERP Analyst                            ERP systems
188                ERP Analyst                       Systems analysis
189                ERP Analyst                           Interviewing
190                ERP Analyst                          System design
191                ERP Analyst
192          Financial Analyst                       Microsoft Access
193          Financial Analyst                     Project management
194          Financial Analyst                             Accounting
195          Financial Analyst                        Analysis skills
196          Financial Analyst                        Data governance
197          Financial Analyst
198        IT Business Analyst                     Project management
199        IT Business Analyst                                    PMP
200        IT Business Analyst                            ERP systems
201        IT Business Analyst                      Business analysis
202        IT Business Analyst                                  Scrum
203        IT Business Analyst                                    EDI
204        IT Business Analyst                Supply chain management
205        IT Business Analyst                                  Azure
206        IT Business Analyst                                    SQL
207        IT Business Analyst                             E-commerce
208        IT Business Analyst
209        IT Business Analyst
210           Business Analyst                                    SQL
211           Business Analyst                            ERP systems
212           Business Analyst                  Business intelligence
213           Business Analyst                                SAP CRM
214           Business Analyst                   Communication skills
215           Business Analyst
216           Business Analyst
217                ERP Analyst                               Power BI
218                ERP Analyst                             Confluence
219                ERP Analyst                          Manufacturing
220                ERP Analyst                                    SQL
221                ERP Analyst                             Oracle EBS
222                ERP Analyst
223   Business Systems Analyst
224         Operations Analyst                     Project management
225         Operations Analyst                        Analysis skills
226         Operations Analyst                        Microsoft Excel
227         Operations Analyst                                    SAP
228         Operations Analyst                            ERP systems
229         Operations Analyst
230   Business Systems Analyst                           Unit testing
231   Business Systems Analyst                          Manufacturing
232   Business Systems Analyst                       Customer service
233   Business Systems Analyst                            SAP S/4HANA
234   Business Systems Analyst                                  Sales
235   Business Systems Analyst
236   Business Systems Analyst
237   Business Systems Analyst
238           Business Analyst                           Supply chain
239           Business Analyst                                    SQL
240           Business Analyst                        Microsoft Excel
241           Business Analyst                        Demand planning
242           Business Analyst                                 Oracle
243           Business Analyst
244           Business Analyst
245           Business Analyst
246   Business Process Analyst                                    SAP
247   Business Process Analyst                                  Sales
248   Business Process Analyst                                SAP ERP
249   Business Process Analyst          Service-oriented architecture
250   Business Process Analyst                                SAP CRM
251   Business Process Analyst
252           Business Analyst                                    SQL
253           Business Analyst                        Microsoft Excel
254           Business Analyst                            ERP systems
255           Business Analyst                               Ellucian
256           Business Analyst                                 Canvas
257           Business Analyst
258           Business Analyst
259           Business Analyst                Six Sigma Certification
260           Business Analyst                               Power BI
261           Business Analyst                          Data modeling
262           Business Analyst                                  Azure
263           Business Analyst                     Data visualization
264           Business Analyst
265   Business Systems Analyst                        Analysis skills
266   Business Systems Analyst                    Database management
267   Business Systems Analyst                          Manufacturing
268   Business Systems Analyst                                    SQL
269   Business Systems Analyst                            ERP systems
270   Business Systems Analyst
271           Business Analyst                               Power BI
272           Business Analyst                             JD Edwards
273           Business Analyst                          Manufacturing
274           Business Analyst                                    SQL
275           Business Analyst                            ERP systems
276           Business Analyst
277   Business Systems Analyst                       Microsoft Access
278   Business Systems Analyst                                    SQL
279   Business Systems Analyst                        Microsoft Excel
280   Business Systems Analyst                            ERP systems
281   Business Systems Analyst                              Budgeting
282   Business Systems Analyst
283   Business Systems Analyst                        Analysis skills
284   Business Systems Analyst                    Database management
285   Business Systems Analyst                                Workday
286   Business Systems Analyst                       Systems analysis
287   Business Systems Analyst                             ServiceNow
288   Business Systems Analyst
289   Business Systems Analyst
290           Business Analyst                             Accounting
291           Business Analyst                          Manufacturing
292           Business Analyst                            ERP systems
293           Business Analyst                   Communication skills
294           Business Analyst                                 Kaizen
295           Business Analyst
296           Business Analyst
297   Business Systems Analyst                                    SQL
298   Business Systems Analyst                             Oracle EBS
299   Business Systems Analyst                                 Oracle
300   Business Systems Analyst                                 PL/SQL
301   Business Systems Analyst
302           Business Analyst                        Analysis skills
303           Business Analyst                     ITIL Certification
304           Business Analyst                               DoD 8570
305           Business Analyst                                     IT
306           Business Analyst                                UCC law
307           Business Analyst
308   Business Systems Analyst                        Analysis skills
309   Business Systems Analyst                       Bank Secrecy Act
310   Business Systems Analyst                 Full-stack development
311   Business Systems Analyst                                  Azure
312   Business Systems Analyst                                    SQL
313   Business Systems Analyst
314           Business Analyst                Six Sigma Certification
315           Business Analyst           Lean Six Sigma Certification
316           Business Analyst                        Microsoft Excel
317           Business Analyst                                   CCBA
318           Business Analyst              Business process modeling
319           Business Analyst
320         Operations Analyst                         Writing skills
321         Operations Analyst               Vulnerability management
322         Operations Analyst                                   FIPS
323         Operations Analyst                                Windows

In [59]:
df2.to_csv('CleanedEnterpriseSystems.csv')