In [35]:
import pandas as pd

**Read Indeed Software Development CSV and change index**

In [36]:
IndeedDF = pd.read_csv("indeed_SofDev.csv", index_col = 'job title')
IndeedDF.head(5)

,web-scraper-order,web-scraper-start-url,links,links-href,pages,pages-href,skills,salary
job title,,,,,,,,
Graduate Scientific Programmer - School of Biomedical Informatics,1676420364-161,https://www.indeed.com/jobs?q=entry+software+d...,Graduate Scientific Programmer - School of Bio...,https://www.indeed.com/rc/clk?jk=9e0c2809d7c62...,5.0,https://www.indeed.com/jobs?q=entry+software+d...,Research,NaN
Graduate Scientific Programmer - School of Biomedical Informatics,1676420364-162,https://www.indeed.com/jobs?q=entry+software+d...,Graduate Scientific Programmer - School of Bio...,https://www.indeed.com/rc/clk?jk=9e0c2809d7c62...,5.0,https://www.indeed.com/jobs?q=entry+software+d...,.NET,NaN
Graduate Scientific Programmer - School of Biomedical Informatics,1676420364-163,https://www.indeed.com/jobs?q=entry+software+d...,Graduate Scientific Programmer - School of Bio...,https://www.indeed.com/rc/clk?jk=9e0c2809d7c62...,5.0,https://www.indeed.com/jobs?q=entry+software+d...,Java,NaN
Full Stack Developer,1676420366-164,https://www.indeed.com/jobs?q=entry+software+d...,Full Stack Developer,https://www.indeed.com/company/Force-Flake/job...,5.0,https://www.indeed.com/jobs?q=entry+software+d...,ERP systems,NaN
Android Mobile Reverse Engineer: Entry/Junior Levels,1676420368-165,https://www.indeed.com/jobs?q=entry+software+d...,Android Mobile Reverse Engineer: Entry/Junior ...,https://www.indeed.com/rc/clk?jk=b1258c885e88b...,5.0,https://www.indeed.com/jobs?q=entry+software+d...,Assembly,NaN

**Drop columns that contain links and salary plus rows that do not pertain to software development**

In [37]:
IndeedSofDevDF = IndeedDF.drop(columns=['web-scraper-order', 'web-scraper-start-url', 'links', 'links-href', 'pages', 'pages-href', 'salary'], index='Cook @ Off the Rails Irish Pub')

IndeedSofDevDF

                                                         skills
job title
Graduate Scientific Programmer - School of Biom...     Research
Graduate Scientific Programmer - School of Biom...         .NET
Graduate Scientific Programmer - School of Biom...         Java
Full Stack Developer                                ERP systems
Android Mobile Reverse Engineer: Entry/Junior L...     Assembly
...                                                         ...
Entry Level iOS/Swift Developer (Hybrid Work Sc...         SDLC
Entry Level iOS/Swift Developer (Hybrid Work Sc...           AI
IT Development Program - Software Engineering 2...         Java
IT Development Program - Software Engineering 2...       Python
IT Development Program - Software Engineering 2...           IT

[180 rows x 1 columns]

In [38]:
# Rest index
IndeedSofDevDF.reset_index(inplace = True)

In [39]:
#Remove unwanted parts
IndeedSofDevDF.apply(lambda x: x.replace({'N[et|ET] ': '', 'ASSOCIATE ': '', 'Analyst, IT - Level 1 Backend ': '', ': Entry/Junior Levels': '', 'Entry Level ': '',
                                               '114087|114086|482003|2023b| 1|.2023.|14087|14086': '', '(Entry to Mid Level )': '', '(Entry-Level )': '', 
                                               'Exelaration - ': '', 'Atlanta Only': '', 'School of Biomedical Informatics': '', 'IT Development Program ': '', 
                                               'Jr.': '', 'Junior': '', 'Entry': '', 'Level': '', '(and  s)': '', 'Physics/Math Graduate': '', '\(No Work Experience Required\)': '',
                                               'Python|Hybrid|Aerospace|Virtual|Remote|Digital': '', '(Early Clinical CVRM Biometrics)': '', 'College Graduates': '', 
                                              '(in Test \(SDET\))': '', 'Wake Tech': '', 'Java-High School Programming Fundamentals': '',"Bachelor's Degree": '',
                                              'Early in Career': '', '(Must have an active OPT status)': '', 'Work Schedule': '', 'Recent Grad':'','Senior ': '', 
                                    'Team Member': '', 'Engineer.*|ENGINEER': 'Engineer', 'Android Developer': 'Mobile Developer', 'Software|SOFTWARE|Audio SW': 'Software', 
                                              'Develop.*|^ Developer$|  Developer': 'Developer', 'I': '', 'Swift': '', 'Java Software ': '', ' Application': 'Mobile', '.Mobile|iOS|(AndroidMobile)': 'Mobile', 
                                              ' App': '', 'Web.*': 'Web Developer', 'Dot': '','Cloud|Java|React|.Computer': '', 'Statistical.*|Graduate.*|.Programmer': 'Programmer', ' Reverse': '', 
                                               '(Trainee)|[./-]': '',' Net': 'Net','(.Software)': 'Software'}, regex = True, inplace = True))

job title    None
skills       None
dtype: object

Check Frequency again after removing unneeded strings

In [40]:
IndeedSofDevDF['job title'].str.lstrip()

0                  Programmer
1                  Programmer
2                  Programmer
3        Full Stack Developer
4      AndroidMobile Engineer
                ...
175          Mobile Developer
176          Mobile Developer
177         Software Engineer
178         Software Engineer
179         Software Engineer
Name: job title, Length: 180, dtype: object

In [41]:
new_freq = IndeedSofDevDF.groupby(['job title']).size()

new_freq

job title
 Developer                 6
 Mobile Developer          3
 Software Developer        7
AndroidMobile Engineer     3
Database Developer         3
Developer                  9
Developer                  3
Full Stack Developer       7
Mobile Developer          22
Net Developer              6
Programmer                 5
Programmer Analyst         3
Software Developer        43
Software Engineer         51
Web Developer              9
dtype: int64

In [42]:
IndeedSofDevDF.to_csv('Cleaned_IndeedSofDev.csv')

## Concat Indeed and Simply Hired Software Development

In [43]:
SimplyHiredDF = pd.read_csv("CleanedSoftDev.csv")
SimplyHiredDF.head(5)

,Unnamed: 0,job title,company name,skills,hourly,min salary,max salary,avg salary,education,city,state
0,0,DevOps Engineer,Idea Entity,Auto estimating,0,74000.0,100000.0,87000.0,NaN,Peoria,IL
1,1,DevOps Engineer,Idea Entity,Construction estimating,0,74000.0,100000.0,87000.0,NaN,Peoria,IL
2,2,DevOps Engineer,Idea Entity,Full-stack development,0,74000.0,100000.0,87000.0,NaN,Peoria,IL
3,3,DevOps Engineer,Idea Entity,Azure,0,74000.0,100000.0,87000.0,NaN,Peoria,IL
4,4,DevOps Engineer,Idea Entity,IAT,0,74000.0,100000.0,87000.0,NaN,Peoria,IL

In [44]:
# combine simply hired and indeed csv files
SofDevDF = pd.concat([SimplyHiredDF, IndeedSofDevDF])
SofDevDF

,Unnamed: 0,job title,company name,skills,hourly,min salary,max salary,avg salary,education,city,state
0,0.0,DevOps Engineer,Idea Entity,Auto estimating,0.0,74000.0,100000.0,87000.0,NaN,Peoria,IL
1,1.0,DevOps Engineer,Idea Entity,Construction estimating,0.0,74000.0,100000.0,87000.0,NaN,Peoria,IL
2,2.0,DevOps Engineer,Idea Entity,Full-stack development,0.0,74000.0,100000.0,87000.0,NaN,Peoria,IL
3,3.0,DevOps Engineer,Idea Entity,Azure,0.0,74000.0,100000.0,87000.0,NaN,Peoria,IL
4,4.0,DevOps Engineer,Idea Entity,IAT,0.0,74000.0,100000.0,87000.0,NaN,Peoria,IL
...,...,...,...,...,...,...,...,...,...,...,...
175,NaN,Mobile Developer,NaN,SDLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,Mobile Developer,NaN,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,Software Engineer,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,Software Engineer,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,Software Engineer,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
# remove columns and keep job title and skills
CombinedDF = SofDevDF.drop(columns=['Unnamed: 0', 'company name', 'hourly', 'min salary', 'max salary', 'avg salary', 'education', 'city', 'state'])

In [46]:
CombinedDF

             job title                   skills
0      DevOps Engineer          Auto estimating
1      DevOps Engineer  Construction estimating
2      DevOps Engineer   Full-stack development
3      DevOps Engineer                    Azure
4      DevOps Engineer                      IAT
..                 ...                      ...
175   Mobile Developer                     SDLC
176   Mobile Developer                        A
177  Software Engineer
178  Software Engineer
179  Software Engineer                        T

[3256 rows x 2 columns]

In [47]:
CombinedDF["skills"].unique()

array(['Auto estimating', 'Construction estimating',
       'Full-stack development', 'Azure', 'IAT', nan, 'Bash',
       'Shell Scripting', 'RESTful API', 'DevOps', 'Chef', 'Kubernetes',
       'Linux', 'CSS', 'Relational databases', 'SQL', 'Swift', 'React',
       'Analysis skills', 'Node.js', '.NET Core', 'Entity Framework',
       'Windows', 'Project management', 'Automated optical inspection',
       'Programmable logic controllers', 'System design', 'Leadership',
       'Manufacturing', 'Technical writing', 'Microsoft Excel',
       'Distributed control systems', 'Drug discovery', 'Cell biology',
       'Molecular biology', 'Communication skills', 'Machine learning',
       'Jenkins', 'Design patterns', 'Jira', 'OS Kernels',
       'Product management', 'Android development', 'Operating systems',
       'Spark', 'Drupal', 'PHP', 'Software troubleshooting',
       'Web accessibility', 'Back-end development', 'Salt',
       'Elasticsearch', 'Continuous integration', 'SVN', 'NoSQL', 'MySQL',
       'Unit testing', 'TypeScript', 'GitLab', 'Ansible',
       'Configuration management', 'Agile', 'LabView', 'Research', 'FPGA',
       'ITIL', 'Middleware', 'REST', '.NET', 'jQuery',
       'Application development', 'ServiceNow', 'C++',
       'Product development', 'C', 'Python', 'Debugging', 'Web services',
       'E-commerce', 'Test automation', 'Selenium', 'Microservices',
       'Sensors', 'PKI', 'IDS', 'ISO 27001', 'FedRAMP', 'Power BI',
       'Ceridian', 'ARM', 'UNIX', 'PCI', 'APIs', 'System architecture',
       'Presentation skills', 'MongoDB', 'Writing skills',
       'Electrical engineering', 'Schematics', 'DynamoDB', 'Accounting',
       'Web development', 'PowerBuilder', 'Flask', 'CI/CD', 'Mac OS',
       'Scrum', 'Go', 'Front-end development', 'J2EE', 'SOAP', 'Splunk',
       'Negotiation', 'Build automation', 'Business intelligence',
       'Employee orientation', 'Kanban', 'Strategic planning',
       'Responsive web design', 'Database design', 'Team management',
       'Data lake', 'Management', 'Java', 'GraphQL', 'PyTorch',
       'UI design', 'Data visualization', 'Mentoring', 'Slack',
       'New Relic', 'Mobile applications', 'AutoCAD',
       'Computer networking', 'JDBC', 'Confluence', 'Cloud architecture',
       'Spring Boot', 'Embedded software', 'Git', 'Firmware', 'UI',
       'Assembly', 'Bus driving', 'Identity & access management', 'AWS',
       'SDKs', 'Rust', 'Test cases', 'TCP', 'IIS', 'Visual Studio',
       'Dart', 'Bootstrap', 'Debian', 'Laboratory experience',
       'Customer relationship management', 'Customer service',
       'Host/hostess experience', 'Perl', 'JavaScript', 'Hibernate',
       'Spring', 'Microsoft Powerpoint', 'Databases', 'CNC', 'CAD',
       'SASS', 'Laravel', 'SEO', 'Cloud development', 'AWS Certification',
       'Ethernet', 'AI', 'Vue.js', 'LAMP stack', 'SaaS', 'Flutter',
       'Lean manufacturing', 'Kaizen', 'Microsoft Office',
       'Integration testing', 'Visual Basic', 'Food processing',
       'Continuous improvement', 'Software development', 'MATLAB',
       'Microsoft Windows Server', 'GitHub', 'Scripting', 'JBoss',
       'Cassandra', 'PostgreSQL', 'Business requirements',
       'Requirements gathering', 'DNS', 'Software deployment',
       'Search engines', 'CompTIA Linux+', 'SAFe', 'IaaS', 'Bamboo',
       'Microsoft Project', 'Adobe Illustrator', 'Adobe XD',
       "Driver's License", 'DB2', 'Mechanical knowledge',
       'Stamping press', 'Systems engineering', 'Backbone.js', 'OOP',
       'C#', 'Workday', 'ERP systems', 'SSIS', 'Redux', 'TensorFlow',
       'HTML5', 'Citrix', 'SSL', 'VMWare', 'Signal processing',
       'Electronic warfare', 'Algebra', 'Data collection', 'SDLC',
       'Tomcat', 'Banking', 'ISO 9001', 'WordPress', 'XML',
       'Financial services', 'PaaS', 'Google Ads', 'Elixir',
       'FDA regulations', 'Wealth management', 'gRPC', 'Kotlin',
       'Simulink', 'Software testing', 'Software architecture', 'iOS',
       'Network protocols', 'Ontology', 'Database development', 'Django',
       'Figma', 'Construction', 'Data modeling', 'TCP/IP',
       'Financial accounting', 'Spring MVC', 'Intelligence experience',
       'Certified Personal Trainer', 'Erlang', 'EDI', 'SOX',
       'Cloud infrastructure', 'Performance testing', 'FileNet', 'Visio',
       'VBA', 'DoD experience', 'Analytics', 'Root cause analysis',
       'Kafka', 'Docker', 'Computer graphics', 'Disaster recovery',
       'XSLT', 'Informatica', 'CompTIA Security+', 'Contracts', 'Unity',
       'Maven', 'Budgeting', 'IT management', 'Cybersecurity',
       'Systems analysis', 'SSH', 'Performance tuning', 'PCB', 'Ant',
       'IT', 'Redis', 'Network architecture', 'Google Cloud Platform',
       'R', 'Statistics', 'ASP.NET', 'Ruby on Rails', 'Help desk',
       'Hadoop', 'Angular', 'IVR', 'Investment banking', 'Apache',
       'Pegasystems', 'UML', 'Haskell', 'JD Edwards', 'DICOM',
       'Database administration', 'Microsoft SQL Server', 'Terraform',
       'Public health', 'Fiddler', 'SCCM', 'Statistical analysis',
       'Distributed systems', 'TFS', 'ASP', 'Knowledge management',
       'Process improvement', 'SharePoint', 'Test-driven development',
       'System testing', 'Event planning', 'Tableau', 'SAS', 'Military',
       'GeoServer', 'PowerShell', 'Social media management', 'Paralegal',
       'Lexis-Nexis', 'Westlaw', 'Natural language processing',
       'Deep learning', 'Product demos', 'Lawson', 'Xamarin', 'Teradata',
       'Technical support', 'Crystal Reports', 'Algorithm design',
       'Supply chain', 'Gherkin', 'Redmine', 'HIPAA', 'HITRUST',
       'Salesforce', 'SAN', 'Moodle', 'MailChimp',
       'Information management', 'Information security',
       'Organizational skills', 'JSON', 'Computer science',
       'React Native', 'Big data', 'QuickBooks', 'AJAX', 'GIS', 'ArcGIS',
       'MVC', 'Data structures', 'NET', '', 'Mobile development', 'UX',
       'Nodejs', 'ASPNET', 'Fullstack development', 'ntegration testing',
       'Backend development', 'ASME codes & standards', 'Ecommerce',
       'Pandas', 'NetSuite', 'RESTful AP', 'Testdriven development',
       'Android', 'APs', 'Script', 'Mobile', 'A', 'T'], dtype=object)

Create Soft Skills Column

In [48]:
# Create Soft Skills column
soft=CombinedDF["skills"].str.contains("Communication skills|Customer service|Time management|Research|Organizational skills|Presentation skills|Writing skills|Mentoring|Leadership|Customer service|Host/hostess experience|Negotiation|Research")

In [49]:
CombinedDF['soft skills']=CombinedDF["skills"].where(soft,'')

Create Technical Skills column

In [50]:
technical=CombinedDF["skills"].str.contains("Auto estimating|Full-stack development|IAT|Shell Scripting|RESTful API|DevOps|Chef|Linux|CSS|Relational databases|SQL|Swift|React|Node.js|.NET Core|Windows|Automated optical inspection|Programmable logic controllers|System design|Manufacturing|Technical writing|Distributed control systems|Drug discovery|Cell biology|Molecular biology|Machine learning|Jenkins|Design patterns|OS Kernels|Android development|Operating systems|Spark|Drupal|PHP|Software troubleshooting|Web accessibility|Back-end development|Salt|Continuous integration|SVN|NoSQL|MySQL|Unit testing|TypeScript|GitLab|LabView|FPGA|Middleware|REST|.NET|jQuery|C|Python|Debugging|Web services|Test automation|Selenium|Microservices|Sensors|ARM|UNIX|APIs|System architecture|MongoDB|Electrical engineering|Schematics|DynamoDB|Web development|Flask|Mac OS|Go|Front-end development|J2EE|SOAP|Splunk|Power BI|Build automation|Business intelligence|Responsive web design|Database design|Data lake|Java|GraphQL|PyTorch|UI design|Data visualization|New Relic|Mobile applications|AutoCAD|Computer networking|JDBC|Cloud architecture|Spring Boot|Embedded software|Git|Firmware|UI|Assembly|Bus driving|AWS|SDKs|Rust|Test cases|TCP|IIS|Visual Studio|Dart|Bootstrap|Debian|Laboratory experience|Perl|JavaScript|Hibernate|Spring|Databases|CNC|CAD|SASS|Laravel|SEO|Cloud development|AWS Certification|Ethernet|AI|Vue.js|LAMP stack|Flutter|Lean manufacturing|Integration testing|Visual Basic|Food processing|Software development|MATLAB|Microsoft Windows Server|GitHub|Scripting|JBoss|Cassandra|PostgreSQL|DNS|Software deployment|Search engines|CompTIA Linux+|Driver's License|Mechanical knowledge|Stamping press|Systems engineering|Backbone.js|OOP|C#|Workday|SSIS|Redux|TensorFlow|HTML5|Citrix|SSL|VMWare|Signal processing|Electronic warfare|Algebra|Data collection|SDLC|Tomcat|Elixir|gRPC|Kotlin|Simulink|Software testing|Software architecture|iOS|Network protocols|Ontology|Database development|Django|Figma|Construction|Data modeling|TCP/IP|Spring MVC|Erlang|Performance testing|FileNet|Visio|VBA|DoD experience||Kafka|Docker|Computer graphics|CompTIA Security+|Unity|Cybersecurity|Systems analysis|SSH|Performance tuning|PCB|Ant|IT|Redis|Network architecture|R|Statistics|ASP.NET|Ruby on Rails|Hadoop|Angular|UML|Microsoft SQL Server|Terraform|Fiddler|ASP|Test-driven development|System testing|Military|PowerShell|Natural language processing|Deep learning|Xamarin|Technical support|Algorithm design|Gherkin|Information security|JSON|Computer science|React Native|Big data|AJAX|MVC|Data structures|NET|Mobile development|UX|Nodejs|ASPNET|Fullstack development|ntegration testing|Backend development|Pandas|NetSuite|RESTful AP|Testdriven development|Android|APs|Script|Mobile")
#|C++

In [51]:
CombinedDF['technical skills']=CombinedDF["skills"].where(technical,'')

Create Business Skills column

In [52]:
business=CombinedDF["skills"].str.contains("Construction estimating|Azure|Bash|Kubernetes|Analysis skills|Entity Framework|Project management|Microsoft Excel|Jira|Product management|Elasticsearch|Ansible|Configuration management|Agile|ITIL|ServiceNow|E-commerce|PKI|IDS|ISO 27001|FedRAMP|Ceridian|PCI|Accounting|PowerBuilder|CI/CD|Scrum|Employee orientation|Kanban|Strategic planning|Team management|Management|Slack|Confluence|Identity & access management|Customer relationship management|Microsoft Powerpoint|SaaS|Kaizen|Microsoft Office|Continuous improvement|Business requirements|Requirements gathering|SAFe|IaaS|Bamboo|Microsoft Project|Adobe Illustrator|Adobe XD|DB2|ERP systems|Banking|ISO 9001|WordPress|XML|Financial services|PaaS|Google Ads|FDA regulations|Wealth management|Financial accounting|Intelligence experience|Certified Personal Trainer|EDI|SOX|Cloud infrastructure|Analytics|Root cause analysis|Disaster recovery|XSLT|Informatica|Contracts|Maven|Budgeting|IT management|Google Cloud Platform|Help desk|IVR|Investment banking|Pegasystems|Haskell|JD Edwards|DICOM|Database administration|Public health|SCCM|Statistical analysis|Distributed systems|TFS|Knowledge management|Process improvement|SharePoint|Event planning|Tableau|SAS|GeoServer|Social media management|Paralegal|Lexis-Nexis|Westlaw|Product demos|Lawson|Teradata|Crystal Reports|Supply chain|Redmine|HIPAA|HITRUST|Salesforce|SAN|Moodle|MailChimp|Information management|QuickBook|GIS|ArcGIS|ASME codes & standards|Ecommerce|Application development|Product development")

In [53]:
CombinedDF['business skills']=CombinedDF["skills"].where(business,'')

In [ ]:
CombinedDF

In [55]:
CombinedDF.to_csv('SofDev_with_Skill_sep.csv')