In [1]:
import pandas as pd

DF = pd.read_csv("indeed_CyberSec.csv", index_col = 'job title')

In [2]:
CyberDF = DF.drop(columns=['web-scraper-order', 'web-scraper-start-url', 'links', 'links-href', 'pages', 'pages-href', 'salary'])
CyberDF.reset_index(inplace = True)

In [3]:
CyberDF.apply(lambda x: x.replace({'Entry.|[L|l]evel|Junior|Remote|Hybrid|Infosec.|-':'','IT Specialist.*':'IT Specialist','.*Risk Analyst.*':'Risk Analyst',
                                   '.*Security Analyst.*': 'IT Security Analyst','[â203()1:/]':'','Night Shift|(TCC)': '','.*Information System.*':'IT Security Officer',
                                   'Manager.*':'Risk Data Security','Satellite.*':'Satellite Operator','Associate.':'','.*IT':'IT','.*Cybersecurity':'Cybersecurity',
                                   '.*Reverse.*':'Android Mobile Reverse Engineer','.SOC':'SOC','.Vulnerability':'Vulnerability'}, regex = True, inplace = True))

job title    None
skills       None
dtype: object

In [4]:
new_freq = CyberDF.groupby(['job title']).size()

new_freq

job title
Analyst Information Security           1
Android Mobile Reverse Engineer        6
Cyber Network Defender                 1
Cyber Operations Specialist            2
CyberSecurity  Position                3
Cybersecurity Consultant               3
Cybersecurity Teaching Assistant       1
IT  Client Support                     1
IT Audit Staff Consultant              4
IT Security Analyst                    9
IT Security Officer                    2
IT Security Officer                    4
IT Specialist                          4
Identity Management Analyst            3
Internal Audit Staff                   3
Risk Analyst                           8
Risk Data Security                     3
SOC Analyst                            3
Satellite Operator                     2
Vulnerability Researcher               3
Watch Desk Specialist                  4
dtype: int64

In [5]:
CyberDF.to_csv('Cleaned_IndeedCyber.csv')

Concat Indeed and Simply Hired Cyber Security csv files

In [6]:
SimplyHiredDF = pd.read_csv("CleanedSystemsAndSecurity.csv")
SimplyHiredDF.head(5)

,Unnamed: 0,job title,company name,skills,hourly,min salary,max salary,avg salary,education,city,state
0,0,Cybersecurity Engineer,Visa,J2EE,0,110000.0,160000.0,135000.0,NaN,Austin,TX
1,1,Cybersecurity Engineer,Visa,NoSQL,0,110000.0,160000.0,135000.0,NaN,Austin,TX
2,2,Cybersecurity Engineer,Visa,Spring Boot,0,110000.0,160000.0,135000.0,NaN,Austin,TX
3,3,Cybersecurity Engineer,Visa,DevOps,0,110000.0,160000.0,135000.0,NaN,Austin,TX
4,4,Cybersecurity Engineer,Visa,Leadership,0,110000.0,160000.0,135000.0,NaN,Austin,TX

In [7]:
SysSecDF = pd.concat([SimplyHiredDF, CyberDF])
SysSecDF.head(5)

,Unnamed: 0,job title,company name,skills,hourly,min salary,max salary,avg salary,education,city,state
0,0.0,Cybersecurity Engineer,Visa,J2EE,0.0,110000.0,160000.0,135000.0,NaN,Austin,TX
1,1.0,Cybersecurity Engineer,Visa,NoSQL,0.0,110000.0,160000.0,135000.0,NaN,Austin,TX
2,2.0,Cybersecurity Engineer,Visa,Spring Boot,0.0,110000.0,160000.0,135000.0,NaN,Austin,TX
3,3.0,Cybersecurity Engineer,Visa,DevOps,0.0,110000.0,160000.0,135000.0,NaN,Austin,TX
4,4.0,Cybersecurity Engineer,Visa,Leadership,0.0,110000.0,160000.0,135000.0,NaN,Austin,TX

In [8]:
CombinedDF = SysSecDF.drop(columns=['Unnamed: 0', 'company name', 'hourly', 'min salary', 'max salary', 'avg salary', 'education', 'city', 'state'])
CombinedDF.head(5)

                job title       skills
0  Cybersecurity Engineer         J2EE
1  Cybersecurity Engineer        NoSQL
2  Cybersecurity Engineer  Spring Boot
3  Cybersecurity Engineer       DevOps
4  Cybersecurity Engineer   Leadership

In [9]:
CombinedDF["skills"].unique()

array(['J2EE', 'NoSQL', 'Spring Boot', 'DevOps', 'Leadership', nan,
       'Writing skills', 'Splunk', 'Information security', 'Windows',
       'Vulnerability assessment', 'Communication skills', 'CompTIA A+',
       'Software deployment', 'MCTS', "Driver's License", 'SharePoint',
       'IDS', 'PCI', 'HITRUST', 'TCP', 'TCP/IP', 'CISSP-ISSEP',
       'System design', 'CISSP', 'Agile', 'DNS',
       'Child protective services', 'VPN', 'Citrix', 'VMWare', 'SSCP',
       'Software troubleshooting', 'Customer support', 'MCP', 'Bash',
       'Vulnerability management', 'Shell Scripting', 'COBIT',
       'Microsoft Excel', 'GAAS', 'Microsoft Powerpoint',
       'Financial services', 'CompTIA Advanced Security Practitioner',
       'AWS Certified Solutions Architect – Associate', 'Azure',
       'DoD experience', 'AWS Certified SysOps Administrator – Associate',
       'System hardening', 'SQL', 'Mac OS', 'Computer skills', 'CSSLP',
       'ESXi', 'Microsoft Windows Server',
       'Certified Information Systems Auditor', 'Accounting', 'Research',
       'Public accounting', 'SOX', 'GSEC', 'CompTIA Security+', 'Python',
       'IT', 'Firewall', 'Cybersecurity', 'IAM Level III', 'IAT', 'IASAE',
       'UNIX', 'Network protocols', 'Project management',
       'Penetration testing', 'Analysis skills', 'IaaS', 'Scrum', 'Go',
       'C++', 'CMMC', 'ISO 27001', 'ISO 27000', 'Malware analysis',
       'Teaching', 'Joint operations', 'Property management',
       'Customer service', 'IAT Level II', 'DoD 8570', 'Active Directory',
       'FISMA', 'DIACAP', 'NIST standards', 'Microsoft Office',
       'New Relic', 'Certification In Risk Management Assurance',
       'Vendor management', 'IAT Level I', 'CEH',
       'Certified Fraud Examiner', 'Power BI', 'VBA',
       'Intelligence experience', 'Intelligence analysis', 'Sailpoint',
       'CND', 'IT project management', 'CompTIA Linux+', 'GPO',
       'Requirements gathering', 'Technical writing', 'System security',
       'Authentication', 'Log analysis', 'HIPAA', 'Program development',
       'CCNA Security', 'Cisco ISE', 'FedRAMP', 'Computer networking',
       'GPEN', 'OSWE', 'Continuous improvement', 'PeopleSoft',
       'Administrative experience', 'Cisco ASA', 'SAN', 'SAP', 'GCIH',
       'PKI', 'CCIE', 'PowerShell', 'Network security', 'IT auditing',
       'Mainframe development', 'Management', 'CNC', 'Mobile devices',
       'REST', 'Manufacturing', 'LDAP', 'CGEIT', 'Design patterns',
       'Microservices', 'ITIL', 'iOS', 'Information management',
       'SAP S/4HANA', 'ERP systems', 'SAP ERP', 'CRISC', 'Linux',
       'Enterprise architecture', 'Management consulting', 'COSO', 'RMF',
       'Construction', 'Incident response', 'Disaster recovery',
       'CyberArk', 'Security', 'Operating systems', 'Negotiation',
       'Conflict management', 'Systems analysis', 'Jira', 'SoC', 'Nessus',
       'Encryption', 'IAM Level I', 'Certified Internal Auditor',
       'Presentation skills', 'Cloud architecture', 'Threat intelligence',
       'SIEM', 'OSPF', 'DHCP', 'BGP', 'Supervising experience',
       'IAM Level II', 'ICD coding', 'Mentoring', 'CSS',
       'Computer forensics', 'MDS', 'Requirements analysis',
       'Data analytics', 'Identity & access management',
       'Mobile applications', 'System security plans', 'Scripting',
       'Network infrastructure', 'Data collection', 'Project planning',
       'HCISPP', 'IP networking', 'Requirements management',
       'Technical support', 'Intelligence community', 'Debian',
       'Microsoft Project', 'WAN', 'Project management software', 'CCSP',
       'Change management', 'Product management', 'SAFe', 'Confluence',
       'PMP', 'Certified Authorization Professional', 'GSLC', 'Editing',
       '.NET Core', 'IIS', 'Military', 'Workday', '.NET',
       'Network architecture', 'Database development', 'GCIA',
       'Data center experience', 'Web services', 'Perl', 'GSE',
       'Offensive Security Certified Professional', 'IT infrastructure',
       'SDLC', 'Software development', 'Care plans',
       'Network administration', 'Security system', 'FIPS',
       'CSSP Analyst', 'High availability', 'Application development',
       'IAT Level III', 'CDL', 'Visio', 'CCNA', 'Contracts',
       'Social media management', 'Service-oriented architecture',
       'Web development', 'Network monitoring', 'Root cause analysis',
       'Java', 'Business continuity planning', 'GIAC Certification',
       'Middleware', '4G/LTE', 'Signal processing',
       'Configuration management', 'System administration',
       'Load balancing', 'Cloud security', 'Desktop support', 'CI/CD',
       'Remedy', 'Doctor of Law', 'Project management methodology',
       'Burp Suite', 'MATLAB', 'Triage', 'Library services', 'Node.js',
       'PaaS', 'Full-stack development', 'Distributed systems',
       'Market research', 'Big data', 'Host/hostess experience', 'PCB',
       'C', 'Time management', 'Git', 'GitHub', 'Math', 'Cisco routers',
       'Growing experience', 'Assembly', 'JavaScript',
       'Information governance', 'Risk management', 'Computer science',
       'Continuous integration', 'DB2', 'Financial acumen',
       'Business process modeling', 'Employee evaluation', 'C#', 'Dart',
       'GWEB', 'Relational databases', 'CompTIA Project+', 'CCNP',
       'Typing', 'Blackboard', 'Elasticsearch', 'SSO', 'Lending',
       'Programmable logic controllers', 'Organizational skills',
       'RESTful API', 'Business requirements', 'AWS',
       'Google Cloud Platform', 'Data mining', 'Fortran',
       'Strategic planning', 'Sensors', 'Systems engineering',
       'Exercise planning', 'SSL', 'Cloud infrastructure',
       'Content creation', 'CCISO', 'Tomcat', 'Google Suite', 'FPGA',
       'CPI Certification', 'Employee orientation', 'Cloud computing',
       'Underwriting', 'Help desk', 'Fraud', 'IT support', 'ISO 7',
       'Kotlin', 'LAN'], dtype=object)

Create Soft skills column

In [24]:
soft=CombinedDF["skills"].str.contains("Leadership|Writing skills|Communication skills|Customer support|Teaching|Property management|Customer service|Negotiation|Conflict management|Mentoring|Requirements analysis|Technical support|Editing")

In [25]:
CombinedDF['soft skills']=CombinedDF["skills"].where(soft,'')

Create Technical Skills column

In [26]:
technical=CombinedDF["skills"].str.contains("J2EE|NoSQL|Spring Boot|Splunk|Windows|Vulnerability assessment|CompTIA A+|Software deployment|MCTS|SharePoint|IDS|PCI|HITRUST|TCP|TCP/IP|CISSP-ISSEP|System design|CISSP|DNS|VPN|Citrix|VMWare|SSCP|Software troubleshooting|MCP|Bash|Vulnerability management|Shell Scripting|COBIT|Microsoft Excel|GAAS|Microsoft Powerpoint|CompTIA Advanced Security Practitioner|AWS Certified Solutions Architect – Associate|Azure|AWS Certified SysOps Administrator – Associate|System hardening|SQL|Mac OS|CSSLP|ESXi|Microsoft Windows Server|Certified Information Systems Auditor|GSEC|CompTIA Security+|Python|Firewall|Cybersecurity|IAM Level III|IAT|IASAE|UNIX|Network protocols|Penetration testing|IaaS|Go|CMMC|ISO 27001|ISO 27000|Malware analysis|CCNA Security|Cisco ISE|FedRAMP|Computer networking|GPEN|OSWE|PeopleSoft|Cisco ASA|SAN|SAP|GCIH|PKI|CCIE|PowerShell|Network security|IT auditing|Mainframe development|CNC|REST|Manufacturing|LDAP|CGEIT|Design patterns|Microservices|ITIL|iOS|SAP S/4HANA|ERP systems|SAP ERP|CRISC|Linux|Enterprise architecture|COSO|RMF|Construction|Incident response|Disaster recovery|CyberArk|Security|Operating systems|Systems analysis|Nessus|Encryption|IAM Level I|Certified Internal Auditor|Cloud architecture|Threat intelligence|SIEM|OSPF|DHCP|BGP|HCISPP|IP networking|Technical support|Debian|Microsoft Project|WAN|Project management software|CCSP|Product management|SAFe|Confluence|PMP|Certified Authorization Professional|GSLC|.NET Core|IIS|Workday|.NET|Network architecture|Database development|GCIA|Data center experience|Web services|Perl|GSE|Offensive Security Certified Professional|IT infrastructure|SDLC|Software development|Network administration|Security system|FIPS|CSSP Analyst|High availability|Application development|IAT Level III|Visio|CCNA|Service-oriented architecture|Web development|Network monitoring|Root cause analysis|Java|GIAC Certification|Middleware|4G/LTE|Signal processing|Configuration management|System administration|Load balancing|Cloud security|Desktop support|CI/CD")

In [27]:
CombinedDF['technical skills']=CombinedDF["skills"].where(technical,'')

Create Business Skills Column

In [28]:
business=CombinedDF["skills"].str.contains("DevOps|Financial services|DoD experience|Information security|Child protective services|Program development|Project management|Analysis skills|Scrum|Vendor management|Accounting|Research|Public accounting|SOX|IT|Management consulting|Information management|ERP systems|Construction|Marketing|Sales|Legal|Human resources|Business development|Executive leadership|Strategic planning|Operations management|Supply chain management|Budgeting|Forecasting|Cost accounting|Risk management|Six Sigma|Lean manufacturing|Process improvement|Continuous improvement|Product development|Market research|Competitive analysis|P&L management|Team building|Performance management|Change management|Business intelligence|Data analysis|Financial modeling|Investment analysis|Mergers and acquisitions|Corporate finance|Business process reengineering|Corporate strategy|Business analysis|Customer experience|Business transformation|Business operations|Business planning|Business process improvement|Sales management|Customer retention|Sales operations|Key account management")

In [29]:
CombinedDF['business skills']=CombinedDF["skills"].where(business,'')

In [30]:
CombinedDF

,job title,skills,soft skills,technical skills,business skills
0,Cybersecurity Engineer,J2EE,,J2EE,
1,Cybersecurity Engineer,NoSQL,,NoSQL,
2,Cybersecurity Engineer,Spring Boot,,Spring Boot,
3,Cybersecurity Engineer,DevOps,,,DevOps
4,Cybersecurity Engineer,Leadership,Leadership,,
...,...,...,...,...,...
65,Satellite Operator,LAN,,,
66,Identity Management Analyst,SharePoint,,SharePoint,
67,Identity Management Analyst,Remedy,,,
68,Identity Management Analyst,Data collection,,,
69,Cyber Operations Specialist,NaN,,,

In [31]:
CombinedDF.to_csv('SysSec_with_Skill_sep.csv')